<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}Page Title{% endblock %}</title>
    <link rel="stylesheet" href="{{static}}/blueprint/screen.css" type="text/css" media="screen, projection">
    <link rel="stylesheet" href="{{static}}/blueprint/print.css" type="text/css" media="print"> 
    <!--[if lt IE 8]>
    <link rel="stylesheet" href="{{static}}/blueprint/ie.css" type="text/css" media="screen, projection">
    <![endif]-->
</head>
<body>
    <div class="container">
        <div class="header">
            <ul>
                <li><a href="{% url index %}">Home</a></li>
                <li><a href="{% url artefact_list %}">Artefacts</a></li>
                <li><a href="{% url bloc_list %}">Cultural Blocs</a></li>
                <li><a href="{% url person_list %}">People</a></li>
                <li>Help</li>
                <li>Sign in</li>
            </ul>
        </div>

    <div class="content">
    {% block content %}
    {% endblock %}
    </div>

    </div>

</body>
</html>
