language: python
python:
  - "2.7"
sudo: required
cache: pip
addons:
  apt:
    packages:
      - git
      - pv
      - libboost-python-dev
      - libgraphicsmagick1-dev
      - libgraphicsmagick++1-dev
      - libpq-dev
      - libsasl2-dev
      - postgresql
      - postgresql-contrib
      - python-dev
      - python-pip
  postgresql: "9.4"
services:
  - docker
  - postgresql
install:
  - pip install -r requirements/dev.txt
  - createuser -U postgres -S -d -R uqam
  - createdb -U postgres --owner uqam --encoding UTF8 uqam
script:
  - echo 'from uqam.settings.dev import *; print "\n".join(INSTALLED_APPS)' > installed_apps.py
  - export LOCAL_APPS=$(comm -12 <(./manage.py runscript installed_apps.py | uniq | sort) <(ls -1))
  - ./manage.py test --noinput $LOCAL_APPS
before_deploy:
  - docker build -t uqam .
  - docker save uqam | pv | xz > uqam.docker.xz
  - docker build -f Dockerfile-solr -t uqam-solr .
  - docker save uqam-solr | pv | xz > uqam-solr.docker.xz
  - curl -sOL https://github.com/uq-eresearch/backup2swift/releases/download/0.1.1/backup2swift
  - chmod +x backup2swift
  - openssl aes-256-cbc -K $encrypted_62dfdaf84d45_key -iv $encrypted_62dfdaf84d45_iv -in container-upload.json.enc -out container-upload.json -d
deploy:
  provider: script
  script: ./backup2swift backup -c container-upload.json uqam.docker.xz uqam-solr.docker.xz
  skip_cleanup: true
  on:
    branch: master
