language: python
python:
  - "2.7"
addons:
  apt:
    packages:
      - git
      - libboost-python-dev
      - libgraphicsmagick1-dev
      - libgraphicsmagick++1-dev
      - libpq-dev
      - libsasl2-dev
      - postgresql
      - postgresql-contrib
      - python-dev
      - python-pip
  postgresql: "9.4"
services:
  - postgresql
install:
  - pip install -r requirements/dev.txt
before_script:
  - createuser -U postgres -S -D -R -P uqam
  - createdb -U postgres --owner uqam --encoding UTF8 uqam
script:
  - ./manage.py test