language: python
python:
  - "2.7"
sudo: required
cache: pip
addons:
  apt:
    packages:
      - git
      - libboost-python-dev
      - libgraphicsmagick1-dev
      - libgraphicsmagick++1-dev
      - libpq-dev
      - libsasl2-dev
      - postgresql
      - postgresql-contrib
      - python-dev
      - python-pip
  postgresql: "9.4"
services:
  - docker
  - postgresql
install:
  - pip install -r requirements/dev.txt
  - createuser -U postgres -S -d -R uqam
  - createdb -U postgres --owner uqam --encoding UTF8 uqam
script:
  - echo 'from uqam.settings.dev import *; print "\n".join(INSTALLED_APPS)' > installed_apps.py
  - export LOCAL_APPS=$(comm -12 <(./manage.py runscript installed_apps.py | uniq | sort) <(ls -1))
  - ./manage.py test --noinput $LOCAL_APPS
after_success:
  - docker build -t uqam .
