language: python
python:
  - "2.7"
cache: pip
addons:
  apt:
    packages:
      - git
      - libboost-python-dev
      - libgraphicsmagick1-dev
      - libgraphicsmagick++1-dev
      - libpq-dev
      - libsasl2-dev
      - postgresql
      - postgresql-contrib
      - python-dev
      - python-pip
  postgresql: "9.4"
services:
  - postgresql
install:
  - pip install -r requirements/dev.txt
  - createuser -U postgres -S -D -R uqam
  - createdb -U postgres --owner uqam --encoding UTF8 uqam
  - mkdir logs
script:
  - ./manage.py test --noinput