Django==1.4
PIL==1.1.7
South==0.7.5
Whoosh==2.3.0
distribute==0.6.19
django-auth-ldap==1.1
django-extensions==0.7.1
https://github.com/omad/django-grappelli/zipball/fixes/dashboard
django-haystack==1.2.7
python-ldap==2.4.10
wsgiref==0.1.2
gunicorn==0.13.4
django-context-extras==0.2.4
openpyxl==1.5.7
Celery==2.5.5
django-celery==2.5.5
geopy==0.94.1
requests==0.13.1
django-kombu==0.9.4
docutils==0.8.1
psycopg2==2.4.4
git+http://github.com/alex/django-filter.git@51b39fca089f2cb1d3d3501d2e164635fbe52864#egg=django-filter
django-tables2==0.11.0
easy-thumbnails==1.0.3
pgmagick==0.5.1
django-smart-selects==1.0.4
