Django==1.4.2
PIL==1.1.7
South==0.7.5
Whoosh==2.3.0
distribute==0.6.28
django-auth-ldap==1.1
django-extensions==0.9
django-haystack==1.2.7
django-grappelli==2.4.3
python-ldap==2.4.10
wsgiref==0.1.2
gunicorn==0.14.6
django-context-extras==0.2.4
openpyxl==1.5.7
Celery==3.0.5
django-celery==3.0.4
geopy==0.94.1
requests==0.13.5
django-kombu==0.9.4
docutils==0.8.1
psycopg2==2.4.5
django-tables2==0.11.0
easy-thumbnails==1.0.3
pgmagick==0.5.1
django-smart-selects==1.0.4
django-ignoretests==0.3.2
pygments==1.5
django-refinery==0.1
pysolr==2.1.0-beta
django-endless-pagination==1.1

