{% extends "admin/change_form.html" %}
{% load thumbnail %}

{% block javascripts %}
    {{ block.super }}
    <script type="text/javascript" src="/static/save_me_genie.js"></script>
    <script src="/static/grappelli/js/jquery.grp_autocomplete_fk.js" type="text/javascript"></script>
    <script src="/static/grappelli/js/jquery.grp_autocomplete_m2m.js" type="text/javascript"></script>
    <script src="/static/grappelli/js/jquery.grp_autocomplete_generic.js" type="text/javascript"></script>

{% endblock %}
 
{% block object-tools %}
  {{ block.super }}
  {% if original.artefactrepresentation_set.exists %}
  <!-- MARKER -->
    <div style="position: fixed; top: 135px; right:25px; z-index: 10000;">
      <img style="width:180px" src="{{ original.artefactrepresentation_set.all.0.image|thumbnail_url:'large_thumb' }}">
    </div>

  {% endif %}
  {#   <h2>{{ adminform.form.instance }}</h2> #}
{% endblock %}
