{% extends "base_wide.html" %}

{% block title %}Browse People | {{block.super}}{% endblock %}
{% block content %}

<h1>People</h1>

<ul id="people-type-filter" class="nav nav-tabs">
    <li class="active"><a href="#all">All</a></li>
    <li><a href="#makers">Makers</a></li>
    <li><a href="#donors">Donors</a></li>
    <li><a href="#collectors">Collectors</a></li>
</ul>

<table id="people-table" cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Name</th>
            <th>Documents</th>
            <th>Created</th>
            <th>Donated</th>
            <th>Collected</th>
        </tr>
    </thead>
    <tbody>
{% for person in person_list %}
        <tr>
            <td><a href="{{ person.get_absolute_url}}">{{ person.name }}</a></td>
            <td>{{ person.documents_count }}</td>
            <td>{{ person.created_count }}</td>
            <td>{{ person.donated_count }}</td>
            <td>{{ person.collected_count }}</td>
        </tr>
{% endfor %}
    </tbody>
</table>

{% endblock content %}

{% block javascript %}
{{block.super}}
<script type="text/javascript" language="javascript" src="{{STATIC}}datatables/js/jquery.dataTables.js"></script>

<script type="text/javascript" charset="utf-8">
    $(document).ready(function() {
        var hash = window.location.hash;
        if (hash !== '') {
            $('#people-type-filter li').removeClass('active');
            $('#people-type-filter li a[href="'+hash+'"]').parent().addClass('active')
        }

        $('#people-type-filter a').click(function() {
            $('#people-type-filter li').removeClass('active');
            $(this).parent().addClass('active');

            /* redraw table with new filter */
            oTable.fnDraw();
        });

        $.fn.dataTable.ext.afnFiltering.push(
            function( oSettings, aData, iDataIndex ) {
                var curFilter = $('#people-type-filter .active').text();
                if (curFilter === 'All') {
                    return true;
                } else if (curFilter === 'Makers') {
                    return aData[2] > 0;
                } else if (curFilter === 'Donors') {
                    return aData[3] > 0;
                } else if (curFilter === 'Collectors') {
                    return aData[4] > 0;
                }

                return true;

            }
        );

        var oTable = $('#people-table').dataTable( {
//            "sDom": "<'row'<'span6'l><'span6'f>r>t<'row'<'span6'i><'span6'p>>",
            "bLengthChange": false,
            "iDisplayLength": 20,
//        "sScrollY": "600px",
//        "bPaginate": false,
//        "bScrollCollapse": true,
            "bStateSave": true,
            "oLanguage": {
                "sSearch": "Search all columns:"
            },
            "sPaginationType": "full_numbers"

        } );
    });
</script>

{% endblock javascript %}