{% extends "base_generic.html" %}

{% block content %}
<h1>{{ page_title }}</h1>

{% for letter, some_exist in first_letters %}
  {% if some_exist %}
    <a href="{{base_url}}{{ letter }}/">{{letter}}</a>
  {% else %}
    {{letter}}
  {% endif %}
{% endfor %}

{% if object_list %}
<table>
{% for object in object_list %}
    <tr><td>
        <a href="{{ object.get_absolute_url }}">{{object}}</a>
    </td><td>
        {{ object.num_objects }}
    </td></tr>
{% endfor %}
</table>


{% if paginator.num_pages > 1 %}
<div class="row">
<ul class="pager">
  <li>
    {% if page_obj.has_previous %}
       <a href="?page={{ page_obj.previous_page_number }}">&larr; Previous</a>
    {% endif %}
  </li>
  <li>
        Page {{ page_obj.number }} of {{ paginator.num_pages }}
  </li>
  <li>
    {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}">Next &rarr;</a>
    {% endif %}
  </li>
</ul>
</div>
{% endif %}

{% endif %}

{% endblock %}
