{% extends "base_wide.html" %}

{% block title %}{{ person.display_name }} | {{block.super}}{% endblock %}

{% block content %}

{% if user.is_staff %}
<div style="float:right;font-size: 80%;">
    {% if user.is_staff %}
        <a href={% url admin:parties_person_change person.id %}>Admin</a>
    {% endif %}
</div>
{% endif %}

<div class="breadcrumbs">
    <a href="{% url parties_browse %}">People</a> >
</div>

<h1>{{ person.display_name }}</h1>

<p class="person-comments">{{ person.comments }}</p>

<ul id="people-type-filter" class="nav nav-tabs">
{% for type in types %}
    <li{% if type.0 == item_type %} class="active"{%endif%}><a href="{% url parties.views.person_detail pk=person.id item_type=type.0 %}">{{type.1}} ({{type.2}})</a></li>
{% endfor %}
</ul>


{% if item_type == 'docs' %}
<table id="item-listing-table">
    <tr><th></th><th>Document</th></tr>
    {% for doc in related_documents %}
    <tr><td></td>
        <td><a href="{{doc.document.url}}">{{doc.name}}</a></td>
    </tr>
    {% endfor %}
</table>
{% else %}

    {% include "snippets/paged_object_list.html" %}
{% endif %}






{% endblock %}
