{% extends "base_generic.html" %}

{% block content %}
<h1>{{ museumobject.artefact_type }}</h1>
<h2>{{ museumobject }}</h2>

<div class="span-8">
<pre>
Registration Number: {{ museumobject.registration_number}}
Functional Category: {{ museumobject.functional_category }}
Artefact Type: {{ museumobject.artefact_type }}
Acquisition Date: {{ museumobject.acquisition_date }}
Acquisition Method: {{ museumobject.acquisition_method }}
Cultural Bloc: <a href="{{museumobject.cultural_bloc.get_absolute_url}}">{{ museumobject.cultural_bloc }}</a>
Collector: <a href="{{museumobject.collector.get_absolute_url}}">{{ museumobject.collector }}</a>
Donor: <a href="{{museumobject.donor.get_absolute_url}}">{{ museumobject.donor }}</a>
Place: <a href="{{museumobject.place.get_absolute_url}}">{{ museumobject.place }}</a>
Comment: {{ museumobject.comment }}
Description: {{ museumobject.description }}
</pre>

</div>



<div class="span-16">
{% for pic in museumobject.artefactrepresentation_set.all %}

<a href="{{ pic.image.url}}"><img src="{{ pic.image.url_400x400 }}" width="400px" height="400px"></a>

{% endfor %}
</div>

<hr>

<a href={% url admin:cat_museumobject_change museumobject.id %}>View in Admin</a>

{% endblock %}
