{% extends "base_generic.html" %}

{% block content %}
<h1>{{ museumobject.artefact_type }}</h1>

<div class="span-14">
<h2>{{ museumobject }}</h2>
    <b>Registration Number:</b> {{ museumobject.registration_number}}
<br>
<b>Functional Category:</b> {{ museumobject.functional_category }}
<br>
<b>Artefact Type:</b> {{ museumobject.artefact_type }}
<br>
<b>Acquisition Date:</b> {{ museumobject.acquisition_date }}
<br>
<b>Acquisition Method:</b> {{ museumobject.acquisition_method }}
<br>
<b>Cultural Bloc:</b> <a href="{{museumobject.cultural_bloc.get_absolute_url}}">{{ museumobject.cultural_bloc }}</a>
<br>
<b>Collector:</b> <a href="{{museumobject.collector.get_absolute_url}}">{{ museumobject.collector }}</a>
<br>
<b>Donor:</b> <a href="{{museumobject.donor.get_absolute_url}}">{{ museumobject.donor }}</a>
<br>
<b>Place:</b> <a href="{{museumobject.place.get_absolute_url}}">{{ museumobject.place }}</a>
<br>
<b>Description:</b> {{ museumobject.description|linebreaks }}
<br>
<b>Comment:</b> {{ museumobject.comment|linebreaks }}
<br>
<b>Related documents:</b><br>
{% for doc in museumobject.related_documents.all %}
<a href="{{doc.document.url}}">{{doc.name}}</a> <br>
{% endfor %}

</div>



<div class="span-10 last">
    <div class="slider-wrapper theme-default">
    <div class="ribbon"></div>
    <div id="slider" class="nivoSlider">
{% for pic in museumobject.artefactrepresentation_set.all %}

        <a href="{{ pic.image.url}}">
            <img src="{{ pic.image.url_400x350 }}" width="400px" height="350px" alt="">
        </a>

{% endfor %}
    </div>
</div>
</div>
<script type="text/javascript">
$(window).load(function() {
    $('#slider').nivoSlider({
effect: 'fade',
manualAdvance: true,
animSpeed: 200
    });
});
</script>

<hr>

<a href={% url admin:cat_museumobject_change museumobject.id %}>View in Admin</a>

{% endblock %}
