{% extends "admin/base_site.html" %}
{# load form_tags #}
{% block title %}Set photographer{% endblock %}
{% block breadcrumbs %}{#{{ block.super }}#}
        <div id="breadcrumbs">
            <a href="../../">Home</a> &rsaquo;
            <a href="../">{{app_label|capfirst|escape }}</a> &rsaquo;
            {{ cl.opts.verbose_name_plural|capfirst }} &rsaquo;
            Set photographer
        </div>{% endblock %}

<!-- CONTENT-TITLE -->
{% block content_title %}
    <h1>Set photographer</h1>
{% endblock %}

{% block content %}
<div class="span-24">
<p>Enter the photographer name for these items. Any existing name will be overridden.</p>
<hr />
<form method="POST">{% csrf_token %}
<table class="admin small no_actions">
    <tr>
        <td>Photographer name</td>
        <td><input type="text" name="photographer_name"></td>
    </tr>
</table>
<br>

{# Request variables from Django Admin's handling of actions. #}
{% for id in ids %}
<input type="hidden" name="_selected_action" value="{{ id }}">
{% endfor %}
<input type="hidden" name="return_url" value="{{ return_url }}">

<input type="submit">

</form>
</div>
{% endblock %}
