{% extends "base_wide.html" %}

{% load uqam %}
{% block content %}

<div class="breadcrumbs">
    <a href="{% url view_places %}">Places</a>
    {% for parent in geolocation.get_parents %}
     > <a href="{{parent.get_absolute_url}}"> {{parent.name}}&nbsp;</a>
    {% endfor %}
</div>

{% if geolocation %}
    <h1>{{geolocation.name}}</h1>

    {% if geolocation.description %}
    <p>{{ geolocation.description }}</p>
    {% endif %}
{% endif %}


<div class="places-subplaces">
{% if children %}
    {% if num_children > 30 %}
        <div class="show-all">
            <button onclick="$('.places-subplaces ul.column').toggle();">Show all: {{num_children}} sub places</button>
        </div>
    {% endif %}
    {% for column in children %}
    <ul class="column {% if num_children > 30 %}hidden{% endif %}">
        {% for child in column %}
        <li><a href="{{child.get_absolute_url}}">{{child.name}}&nbsp;</a></li>
        {% endfor %}
    </ul>
    {% endfor %}
{% endif %}
</div>

{% if objects %}
    <h2>Items ({{objects.paginator.count}})</h2>
    {% include "snippets/paged_object_list.html" %}
{% endif %}



{% endblock content %}
