{% extends "base_wide.html" %}

{% load uqam %}
{% block content %}

<div class="breadcrumbs">
    <a href="{% url view_places %}">Places</a>
    {% for parent in geolocation.get_parents %}
     &rsaquo; <a href="{{parent.get_absolute_url}}"> {{parent.name}}&nbsp;</a>
    {% endfor %}
</div><!-- /breadcrumbs -->

{% if user.is_staff %}
<div style="float:right;font-size: 80%;">
  <a href="{{ geolocation|admin_change_link }}">Admin</a>
</div>
{% endif %}


{% if geolocation %}
    <h1>{{geolocation.name}}</h1>

    {% if geolocation.description %}
    <p class="placeDesc">{{ geolocation.description }}</p>
    {% endif %}
{% endif %}

{% if children %}
<div class="places-subplaces">
    {% if num_children > 30 %}
        <div class="show-all">
            <button onclick="$('.places-subplaces ul.column').toggle();" class="btn">Show all: {{num_children}} localities</button>
        </div>
    {% endif %}
    {% for column in children %}
    <ul class="column {% if num_children > 30 %}hidden{% endif %}">
        {% for child in column %}
        <li><a href="{{child.get_absolute_url}}">{{child.name}}</a></li>
        {% endfor %}
    </ul>
    {% endfor %}
</div><!-- /places-subplaces -->
{% endif %}

{% if objects %}
    {% include "snippets/paged_object_list.html" %}
{% endif %}

{% endblock content %}
