{% extends "base_generic.html" %}

{% block content %}
<style>
/* Fix issue with twitter bootstrap. will be fixed in 2.0.2 */
    #map_canvas img {
        max-width: none;
    }
</style>
<div>
<div style="float:right;font-size: 80%;">
    <a href="{% url place_kml %}">View in Google Earth</a>
</div>
<h1>Places</h1>
<script type="text/javascript"
    src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>

<script type="text/javascript">
    var map;
    $(document).ready(
    function initialize() {
        var myOptions = {
            zoom: 4, // Zoomed out to show location in world
            disableDefaultUI: false,
            mapTypeId: google.maps.MapTypeId.SATELLITE
        };
        var center = new google.maps.LatLng(-23.5, 145.3); // Near Barcaldine
        myOptions.center = center;

        map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);

// see http://code.google.com/apis/chart/image/docs/gallery/dynamic_icons.html#pins
        var redIcon = 'https://chart.googleapis.com/chart?chst=d_map_xpin_letter&chld=pin||FF9999';
        var blueIcon = 'https://chart.googleapis.com/chart?chst=d_map_xpin_letter&chld=pin||FF4c4c';
        var yellowIcon = 'https://chart.googleapis.com/chart?chst=d_map_spin&chld=0.7|0|FF0000|1|_|';

        function goToUrl() {
            location.href = this.url; 
        }
        $.getJSON("/place/json", function(data) {
            var items = [];
            for (var i = 0; i < data.length; i++) {
                var latlng = new google.maps.LatLng(data[i].latitude, data[i].longitude);
                var styleIcon = redIcon;
                var count = data[i].museumobject__count;
                if (count > 100) {
                    styleIcon = yellowIcon;
                } else if (count > 10) {
                    styleIcon = blueIcon;
                }
                var marker = new google.maps.Marker({
                    icon: styleIcon,
                    map: map,
                    position: latlng,
                    title: data[i].name + ", " + data[i].country + " (" + count + ")",
                    zIndex: count,
                    url: '/place/' + data[i].id
                });
                
                google.maps.event.addListener(marker, 'click', goToUrl);
            }
        });
    });
</script>

<div id="map_canvas" style="width:940px; height:600px"></div>

</div>
<div>
    <ul><li>
        <img src='https://chart.googleapis.com/chart?chst=d_map_xpin_letter&chld=pin||FF9999'> less than 10</li>
        <li><img src='https://chart.googleapis.com/chart?chst=d_map_xpin_letter&chld=pin||FF4c4c'> less than 100</li>
        <li><img src='https://chart.googleapis.com/chart?chst=d_map_spin&chld=0.7|0|FF0000|1|_|'FF0000> 100 or more</li>
    </ul>
</div>
{% endblock %}
