{% extends "base_wide.html" %}
{% load static %}
{% block content %}
<div style="float:right;font-size: 80%;">
    <a href="{% url place_kml %}">View in Google Earth</a>
</div>
<h1>Places</h1>


<div class="places-icons">
{% if children %}
        {% for child in children %}
        <div class="dropdown globalregion-icon"><a class="dropdown-toggle" role="button" data-toggle="dropdown" data-target="#" href="{{child.get_absolute_url}}">
            <img src="{% static child.icon_path %}" title="{{child.icon_title}}">
            <p>{{child.name}}</p></a>
            <ul class="dropdown-menu" role="menu">
                {% for country in child.children.all %}
                <li><a href="{{country.get_absolute_url}}">{{country.name}}</a></li>
                {% endfor %}
            </ul>
        </div>
        {% endfor %}
{% endif %}
</div>


<div class="big-or">
    <p>OR</p>
</div>

<p class="map-instructions">
    Browse items by place using the map by zooming and hovering over the dots to view the items at this place. Click on a dot to go to a list of of the items and view their records.
</p>

<div id="map_canvas" style="width:100%; height:600px"></div>


{% endblock %}
{% block javascript %}
<script type="text/javascript"
    src="http{% if request.is_secure %}s{% endif %}://maps.googleapis.com/maps/api/js?sensor=false"></script>

<script type="text/javascript">
    var map;
    $(document).ready(
    function initialize() {
        var myOptions = {
            zoom: 4, // Zoomed out to show location in world
            disableDefaultUI: false,
            mapTypeId: google.maps.MapTypeId.ROADMAP
        };
        var center = new google.maps.LatLng(-23.5, 145.3); // Near Barcaldine
        myOptions.center = center;

        map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);

// see http://code.google.com/apis/chart/image/docs/gallery/dynamic_icons.html#pins
        var redIcon = 'https://chart.googleapis.com/chart?chst=d_map_xpin_letter&chld=pin||FF9999';
        var blueIcon = 'https://chart.googleapis.com/chart?chst=d_map_xpin_letter&chld=pin||FF4c4c';
        var yellowIcon = 'https://chart.googleapis.com/chart?chst=d_map_spin&chld=0.7|0|FF0000|1|_|';

        function goToUrl() {
            location.href = this.url; 
        }
        $.getJSON("/place/json", function(data) {
            var items = [];
            for (var i = 0; i < data.length; i++) {
                var latlng = new google.maps.LatLng(data[i].latitude, data[i].longitude);
                var styleIcon = redIcon;
                var count = data[i].museumobject__count;
                if (count > 100) {
                    styleIcon = yellowIcon;
                } else if (count > 10) {
                    styleIcon = blueIcon;
                }
                var marker = new google.maps.Marker({
                    icon: styleIcon,
                    map: map,
                    position: latlng,
                    title: data[i].name + ", " + data[i].country + " (" + count + ")",
                    zIndex: count,
                    url: '/place/locality-' + data[i].id
                });
                
                google.maps.event.addListener(marker, 'click', goToUrl);
            }
        });
    });
</script>
{% endblock javascript %}
