<div class="copyright-statement">
    <p>
        The UQ Anthropology Museum respects the rights of artists and copyright holders. Every effort is made to trace the copyright holders and gain permission for use of the images within this collection. We would be grateful to receive any information concerning copyright of images.
    </p>
    <p>
        No image or information displayed on this site may be reproduced, transmitted or copied other than for the purpose of fair dealing (e.g. for research and study) as permitted under the Copyright Act 1968 and subsequent amendments, without the permission of the copyright holders and the UQ Anthropology Museum.
    </p>
</div>

