{% if objects.object_list %}

{% load thumbnail %}
{% load paginator %}

<div class="item-listing-head results-head">
    <div class="grid-list-selector">
        <div class="display-as">Display as:</div>
        <button class="list selected" title="List View">List View</button>
        <button class="grid" title="Grid View">Grid View</button>
    </div><!-- /grid-list-selector -->
    <div class="pagination">
        <div class="results-count">
        Results {{ objects.start_index }} - {{ objects.end_index }} of {{ objects.paginator.object_list.count }}</div>
{% paginator 4 extra_class="top"%}
    </div><!-- /pagination -->
</div><!-- /item-listing-head -->

<div class="item-listing list-view">
    <table id="item-listing-table">
        <tr><th></th><th>Item</th><th>Category</th><th>Place</th></tr>
    {% for object in objects.object_list %}
        {% include "snippets/item_list_row.html" with object=object %}
    {% empty %}
        <tr><td colspan="4">No results found.</td></tr>
    {% endfor %}
    </table>
</div><!-- /item-listing -->

<div id="item-listing-grid" class="grid-view">
    <ul>
        {% for object in objects.object_list %}
            {% include "snippets/item_grid_element.html" with object=object %}
        {% endfor %}
    </ul>
</div><!-- /item-listing-grid -->

{% paginator 5 extra_class="bottom" %}

{% endif %}

