<div id="search_panel">
    <form id="searchbox" method="get" action="/search/">
    <fieldset>
    <input id="search-entry" size="15" type="text" value="Search the collection..." name="q" class="s" onfocus="if (this.value == 'Search the collection...') {this.value = '';}" onblur="if (this.value == '') {this.value = 'Search the collection...';}" tabindex="1" />
    <input name="submit" value="Search" class="submit" title="Search" type="submit" />
    <input type="hidden" name="models" value="cat.museumobject">

    </fieldset>
    </form>
    or
    <div class="browse-by">
        Browse by
    </div>

    <div>
        By using the UQ Anthropology Museum Online Catalogue you agree to the condition os of the Copyright Statement below.
    </div>
</div>