    <div class="top-search-panel">
        <div class="conditions-statement">By using the UQ Anthropology Museum Online Catalogue you agree to the conditions
          of the Copyright Statement.</div>
        <form method="get" action="/search/">
        <fieldset class="search">
            <input type="text" value="Search the collection..." class="textinput" id="dom-elem-17" name="q" class="s" onfocus="if (this.value == 'Search the collection...') {this.value = '';}" onblur="if (this.value == '') {this.value = 'Search the collection...';}">
            
            <button class="search-button" id="dom-elem-18"><span>SEARCH<br></span></button>
        </fieldset>
        </form>
        <button class="browse-by-button" id="dom-elem-19"><span>BROWSE BY</span></button>
        <div class="or-text">OR</div>
        <button class="additional-search-button" id="dom-elem-20"><span>&nbsp;Additional Search Options</span></button>
    </div>