{% extends 'base_wide.html' %}

{% block content %}


<div class="search-results-head results-head">
    <h2>Search Results</h2>
    <div class="grid-list-selector">
		<div class="display-as">Display as:</div>
		<button class="list" title="List View">List View</button>
		<button class="grid" title="Grid View">Grid View</button>
	</div>
	<div class="pagination">
		{% load paginator %}{% paginator 4 extra_class="top" %}
		<div class="results-count">Results {{page.start_index}} to {{page.end_index}} of {{page.paginator.count}}</div>
	</div>
</div><!-- /search-results-head -->

<!-- Begin faceting. -->
<div class="filter-bar">
<form id="filter-form">
    <div class="filter-clear">
        <p>Filter results: 
        <button type="button" class="btn">Clear</button>
        </p>
    </div>
<h2>By Category</h2>
    <div>
        <dl>
            <dt>Categories</dt>
            {% if form.category %}
                <dd>
                    {{ form.category }}
                </dd>
            {% else %}
                <dd>None</dd>
            {% endif %}
        </dl>
    </div>
    <div>
        <dl>
            <dt>Item name</dt>
            {% if form.item_name %}
                <dd>
                    {{ form.item_name }}
                </dd>
            {% else %}
                <dd>None</dd>
            {% endif %}
        </dl>
    </div>
<h2>Places</h2>
    <div>
        <dl>
            <dt>Global region</dt>
            {% if form.global_region %}
                <dd>
                    {{ form.global_region }}
                </dd>
            {% else %}
                <dd>None</dd>
            {% endif %}
        </dl>
    </div>
    <div>
        <dl>
            <dt>Country</dt>
            {% if form.country %}
                <dd>
                    {{ form.country }}
                </dd>
            {% else %}
                <dd>None</dd>
            {% endif %}
        </dl>
    </div>
<h2>People</h2>
    <div>
        <dl>
            {{form.person}}
        </dl>
    </div>
    <div>
        <dl>
            <dt> </dt>
            <dd><ul><li>
                <label for="id_has_images">
                {{ form.has_images }}{{ form.has_images.label }}
            </label></li></ul>
            </dd>
        </dl>
    </div>
</form>
</div>

    <!-- End faceting -->
<div class="search-results">
{% if query %}
<div class="item-listing list-view">
    <table id="item-listing-table">
        <tr><th></th><th>Item</th><th>Category</th><th>Place</th></tr>
        {% load uqam %}
    {% for result in page.object_list %}
        {% add_search_results_param result.list_row forloop.counter0 page.start_index %}
    {% empty %}
        <tr><td colspan="4">No results found.</td></tr>
    {% endfor %}
    </table>

</div><!-- /search-results /list-view -->
<div id="item-listing-grid" class="grid-view">
    <ul>
        {% for result in page.object_list %}
            {% add_search_results_param result.grid_element forloop.counter0 page.start_index %}
        {% endfor %}
    </ul>
</div><!-- /item-listing-grid -->
{% else %}
    {# Show some example queries to run, maybe query syntax, something else? #}
    <p class="no-results">Use the search options above or browse by categories, people, or places to view the collection.</p>
{% endif %}
</div>

{% paginator 4 extra_class="bottom" %}

{% endblock %}



{% block javascript %}
{{block.super}}
<script type="text/javascript">
$(document).ready(function () {
    // Fix up item links with search-result identifier
    $('#item-listing-table a[href*="/item/"]');



    function copyAndSubmit(event) {
        $('#main-search :input').attr("disabled", "disabled");
        $('#main-search-q').removeAttr("disabled");
        $('#filter-form :checked').clone().hide().appendTo('form#main-search');

        if ($('#id_person').val() !== "") {
            $('#filter-form :text').clone().hide().appendTo('form#main-search');
        }

        $('form#main-search').submit();
    }

    $('#filter-form :checkbox').click(copyAndSubmit);
    $('#filter-form').submit(function(event) {
        event.preventDefault();
        copyAndSubmit();
    });

    $('.extra-options').hide();

// Display More in filter bar
    $('.filter-bar a.display-more').click(function(event) {
        event.preventDefault();
        var extra = $(this).prev();
        if (extra.is(':visible')) {
            extra.slideUp();
            $(this).text('more...')
        } else {
            $(this).text('less...');
            extra.slideDown();
        }
    });

// Clear filters
    $('.filter-clear button').click(function(event) {
        $('#main-search :input').attr("disabled", "disabled");
        $('#main-search-q').removeAttr("disabled");

        $('form#main-search').submit();
    });


});
</script>
{% endblock javascript %}