

.menu ul {
    list-style: none;
}
.menu li {
    float: left;
    position: relative;
}

.menu a {
    display: block;
    line-height: 38px;
    padding: 0 10px;
    text-decoration: none;
}

body {
    background-color: white;
}


.nivoSlider {
    position:relative;
    width:400; /* Change this to your images width */
    height:400; /* Change this to your images height */
    background:url(images/loading.gif) no-repeat 50% 50%;
}
.nivoSlider img {
    position:absolute;
    top:0px;
    left:0px;
    display:none;
}
.nivoSlider a {
    border:0;
    display:block;
}
