

/*
.menu ul {
    list-style: none;
}
.menu li {
    float: left;
    position: relative;
}

.menu a {
    display: block;
    line-height: 38px;
    padding: 0 10px;
    text-decoration: none;
}

body {
    background-color: white;
}
*/


.nivoSlider {
    position:relative;
    width:400; /* Change this to your images width */
    height:350; /* Change this to your images height */
    background:url(images/loading.gif) no-repeat 50% 50%;
}
.nivoSlider img {
    position:absolute;
    top:0px;
    left:0px;
    display:none;
}
.nivoSlider a {
    border:0;
    display:block;
}


.highlighted {
    background-color: yellow;

}



.item-detail dt {
}
.item-detail dd {
  padding-left: 10px;
  padding-bottom: 5px;
}


/* HEADER
 * title to be replaced
 * margin between black menu links to be adjusted
-----------------------------------------------------------------------------*/
#header-inner h2 a { background: transparent url('http://socialscience.uq.edu.au/images/custom/masthead-logo-socialscience.gif') no-repeat scroll 0pt 0pt; width: 200px; }
#header-inner h2 a { background: transparent url('/static/masthead-logo-anthmuseum.gif') no-repeat scroll 0pt 0pt; width: 200px; }

#topnav ul li { margin: 0 37px 0 0; }

/* custom style template for School of Social Science
-----------------------------------------------------------------------------*/
body{background:transparent url('http://socialscience.uq.edu.au/images/custom/body-bg.jpg') repeat-x scroll 81px 130px} /*content bg-gradient*/
#header-inner h2 a { background: transparent url('/static/masthead-logo-anthmuseum.gif') no-repeat scroll 0pt 0pt; width: 350px; }
#topnav ul li{margin:0 20px 0 0}
#content-image-table{margin-top:16px}
#content-image-table td{padding:0px !important}
#content-image-table #caption{background:#E1EAF6;border:none;padding:3px 7px !important}
