

/*
.menu ul {
    list-style: none;
}
.menu li {
    float: left;
    position: relative;
}

.menu a {
    display: block;
    line-height: 38px;
    padding: 0 10px;
    text-decoration: none;
}

body {
    background-color: white;
}
*/


.highlighted {
    background-color: yellow;

}



.item-detail dt {
    font-weight: bold;
}
.item-detail dd {
  padding-left: 10px;
  padding-bottom: 5px;
}


/* HEADER
 * title to be replaced
 * margin between black menu links to be adjusted
-----------------------------------------------------------------------------*/
#header-inner h2 a { background: transparent url('/static/images/masthead-logo-socialscience.gif') no-repeat scroll 0pt 0pt; width: 200px; }
#header-inner h2 a { background: transparent url('/static/masthead-logo-anthmuseum.gif') no-repeat scroll 0pt 0pt; width: 200px; }

#topnav ul li { margin: 0 37px 0 0; }

/* custom style template for School of Social Science
-----------------------------------------------------------------------------*/
body{background:transparent url('/static/images/body-bg.jpg') repeat-x scroll 81px 130px} /*content bg-gradient*/
#header-inner h2 a { background: transparent url('/static/masthead-logo-anthmuseum.gif') no-repeat scroll 0pt 0pt; width: 350px; }
#topnav ul li{margin:0 20px 0 0}
#content-image-table{margin-top:16px}
#content-image-table td{padding:0px !important}
#content-image-table #caption{background:#E1EAF6;border:none;padding:3px 7px !important}


/* UQAM Customisation */
#content-primary.fullwidth {
    width: 919px;
}
#content-primary.wide {
    width: 500px;
}

#content-secondary.wide {
    width: 400px;
    float: left;
}

/* Copyright statement */
#copyright-statement p {
    font-size: 10px;
}

#copyright-statement {
    float: left;
    width: 960px;
}
div.copyright-statement {
    padding: 0px 10px 0px 20px;
}

/* Top Conditions Statement */
.conditions-agreement-statement {
    padding-top: 5px;
    padding-left: 25px;
    font-size: 10px;
}


/* Sub-collection details page */
.collection-details dt {
    font-weight: bold;
    color: #575757;
}

.collection-details {
    width: 450px;
    float: right;
}

.collection-map {
    width: 450px;
    float: left;   
}

.collection-items {
    float: left;
    clear: both;
}


/* Item list tables (paged_object_list.html) */
.item-listing-head {
  clear: both;
}


table#item-listing-table {
    width: 945px;
}

div#item-listing-grid {
    display: none;
}

/* paged_object_list */
div.item-listing {
    width: 945px;
    margin: 0px 0px;
}
table.item-listing-table {
    width: 945px;
}
#item-listing-grid ul { list-style-type: none; }
#item-listing-grid li {
  display: block;
  float: left;
  background: none;
}


/* Person list */
#people-type-filter li.active {
    font-weight: bold;
}
ul#people-type-filter {
  list-style-type: none;
}
ul#people-type-filter li {
  display: block;
  float: left;
  background: none;
  border-bottom: 1px #CCCCCC solid;
  padding: 8px 12px;
  margin-left: -1px;
}
ul#people-type-filter li.active {
  font-weight: bold;
  border-bottom: none;
  border-left: 1px #CCCCCC solid;
  border-top: 1px #CCCCCC solid;
  border-right: 1px #CCCCCC solid;
}


div.dataTables_length label {
    float: left;
    text-align: left;
}

div.dataTables_length select {
    width: 75px;
}

div.dataTables_filter label {
    float: right;
}

div.dataTables_info {
    padding-top: 8px;
}

div.dataTables_paginate {
    float: right;
    margin: 0;
}

table.table {
    clear: both;
    margin-bottom: 6px !important;
}

#people-table.table thead th {
    padding: 3px 18px 3px 10px;
}

#people-table thead .sorting,
#people-table thead .sorting_asc,
#people-table thead .sorting_desc,
#people-table thead .sorting_asc_disabled,
#people-table thead .sorting_desc_disabled {
    cursor: pointer;
    *cursor: hand;
}

#people-table thead .sorting { background: url('/static/datatables/images/sort_both.png') no-repeat center right; }
#people-table thead .sorting_asc { background: url('/static/datatables/images/sort_asc.png') no-repeat center right; }
#people-table thead .sorting_desc { background: url('/static/datatables/images/sort_desc.png') no-repeat center right; }

#people-table thead .sorting_asc_disabled { background: url('/static/datatables/images/sort_asc_disabled.png') no-repeat center right; }
#people-table thead .sorting_desc_disabled { background: url('/static/datatables/images/sort_desc_disabled.png') no-repeat center right; }

#people-table.dataTable th:active {
    outline: none;
}

/* Pagination/Pager/Paging */
.pager .page {
  border: 1px #CCCCCC solid;
  float: left;
  padding: 5px;
  width: 25px;
  height: 25px;
  vertical-align: middle;
  line-height: 25px;
  text-align: center;
  margin-left: -1px;
}



/* Top Search Panel */

.top-search-panel {
    height: 92px;
}
.top-search-panel .conditions-statement {
  color: #4f4f4f;
  font-family:"Arial";
  font-size: 7pt;
  font-weight: bold;
  font-style: normal;
  text-align: left;
  position: absolute;
  top: 13px;
  left: 25px;
  display: none;
}
.top-search-panel .browse-by-button {
  width: 306px;
  height: 47px;
  border-radius: 3px;
  color: rgb(255, 255, 255);
  font-family: arial;
  font-size: 14pt;
  font-weight: bold;
  text-decoration: none;
  display: table;
  border: 1px solid rgb(0, 84, 163);
  background-color: rgb(61, 136, 204);
  float: none;
  background-image: -moz-linear-gradient(270deg, rgb(61, 136, 204) 0%, rgb(3, 81, 153) 100%);
  background-image: -webkit-linear-gradient(270deg, rgb(61, 136, 204) 0%, rgb(3, 81, 153) 100%);
  background-image: -o-linear-gradient(270deg, rgb(61, 136, 204) 0%, rgb(3, 81, 153) 100%);
  background-image: linear-gradient(270deg, rgb(61, 136, 204) 0%, rgb(3, 81, 153) 100%);
  font-style: normal;
  position: absolute;
  top: 33px;
  left: 634px;
}
.top-search-panel .search-button {
  width: 96px;
  height: 47px;
  border-radius: 3px;
  color: rgb(255, 255, 255);
  font-family: arial;
  font-size: 14pt;
  font-weight: bold;
  text-decoration: none;
  display: table;
  border: 1px solid rgb(0, 163, 3);
  background-color: rgb(68, 204, 70);
  float: none;
  background-image: -moz-linear-gradient(270deg, rgb(68, 204, 70) 0%, rgb(9, 153, 12) 100%);
  background-image: -webkit-linear-gradient(270deg, rgb(68, 204, 70) 0%, rgb(9, 153, 12) 100%);
  background-image: -o-linear-gradient(270deg, rgb(68, 204, 70) 0%, rgb(9, 153, 12) 100%);
  background-image: linear-gradient(270deg, rgb(68, 204, 70) 0%, rgb(9, 153, 12) 100%);
  font-style: normal;
  position: absolute;
  top: 33px;
  left: 498px;
}
.top-search-panel .textinput {
  width: 458px;
  height: 35px;
  padding: 5px 8px;
  font-size: 12pt;
  font-family: arial;
  color: rgb(51, 51, 51);
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(207, 207, 207);
  border-radius: 3px;
  -moz-box-shadow: rgba(0, 0, 0, 0.0976563) 0px 1px 8px 0px inset;
  -webkit-box-shadow: rgba(0, 0, 0, 0.0976563) 0px 1px 8px 0px inset;
  -o-box-shadow: rgba(0, 0, 0, 0.0976563) 0px 1px 8px 0px inset;
  box-shadow: rgba(0, 0, 0, 0.0976563) 0px 1px 8px 0px inset;
  font-weight: normal;
  float: none;
  font-style: normal;
  text-shadow: none;
  position: absolute;
  top: 33px;
  left: 21px;
}
.top-search-panel .or-text {
  color: #707070;
  font-family:"Arial";
  font-size: 8pt;
  font-weight: bold;
  font-style: normal;
  text-align: left;
  position: absolute;
  top: 51px;
  left: 608px;
}
.top-search-panel .additional-search-button {
  width: 183px;
  height: 23px;
  border-radius: 3px;
  color: rgb(0, 0, 0);
  font-family: arial;
  font-size: 10pt;
  font-weight: normal;
  text-decoration: none;
  display: table;
  border: 1px solid rgb(196, 188, 204);
  background-color: rgb(249, 243, 255);
  float: none;
  background-image: -moz-linear-gradient(270deg, rgb(249, 243, 255) 0%, rgb(185, 178, 191) 100%);
  background-image: -webkit-linear-gradient(270deg, rgb(249, 243, 255) 0%, rgb(185, 178, 191) 100%);
  background-image: -o-linear-gradient(270deg, rgb(249, 243, 255) 0%, rgb(185, 178, 191) 100%);
  background-image: linear-gradient(270deg, rgb(249, 243, 255) 0%, rgb(185, 178, 191) 100%);
  font-style: normal;
  position: absolute;
  top: 96px;
  left: 22px;
}