{% extends "base.html" %}
{% load static %}

{% block body %}


<div id="about">
    <h1>About the catalogue</h1>
    <p>
The UQ Anthropology Museum houses a wealth of items ranging from everyday implements to diverse performance paraphernalia. There are water-craft, paintings, bodywear, hunting gear, a large quantity of stone tools, including grindstones and axes and a collection of over 6,000 photographs.
</p>
<p>
Plus the "Notes regarding collection records", "Aboriginal and Torres-Strait Islander Warning", and "Copyright" sections from the homepage"
</p><p>
Plus possibly a few sentences about the Museum's digitisation efforts?
<p>

<h2>Catalogue technology</h2>
<p>
The UQ Anthropology Museum catalogue was developed as a partnership between the <a href="http://itee.uq.edu.au/~eresearch/">eResearch Group</a> within the UQ School of Information Technology and Electrical Engineering and the <a href="http://anthropologymuseum.uq.edu.au">UQ Anthropology Museum</a>. It uses open source technologies including the Python <a href="https://www.djangoproject.com/">Django web framework</a>, <a href="http://lucene.apache.org/solr/">Apache Solr</a> search server,  
</p><p>
The user interface was designed by the <a href="http://www.uq.edu.au/omc/">UQ Office of Marketing and Communications</a>.
</p><p>
Source code for catalogue is <a href="https://github.com/omad/uqam/">available in GitHub</a> under a BSD open source licence.

<h2>Acknowledgements</h2>
<p>
This project is supported by the <a href="http://www.ands.org.au/">Australian National Data Service</a> (ANDS). ANDS is supported by the Australian Government through the National Collaborative Research Infrastructure Strategy Program and the Education Investment Fund (EIF) Super Science Initiative.
[ANDS LOGO]
</p>

</div>


{% endblock %}