{% extends "base_wide.html" %}
{% load static %}

{% block title %}About the catalogue - {{block.super}}{% endblock %}

{% block content %}

<div id="about-the-catalogue">

<h1>About the catalogue</h1>

<p>
The <a href="http://www.anthropologymuseum.uq.edu.au/">UQ Anthropology Museum</a> houses a wealth of items ranging from everyday implements to diverse performance paraphernalia. There are water-craft, paintings, bodywear, hunting gear, a large quantity of stone tools, including grindstones and axes and a collection of over 6,000 photographs.
</p>
      <h3>Notes regarding collection records</h3>
      <p>Please note that UQ Anthropology Museum Catalogue records may not reflect the best available knowledge about Collection items. If you have additional information or questions about objects in the Collection, we encourage you to <a href="http://anthropologymuseum.uq.edu.au/contact-us">contact us</a>.</p>
      <p>Users are warned that there may be words and descriptions which may be culturally sensitive and which might not normally be used in certain public or community contexts. Terms and annotations which reflect the author's attitude or that of the period in which the item was written may be considered inappropriate today in some circumstances.</p>

      <h3>Aboriginal and Torres-Strait Islander Warning</h3>
      <p>We respectfully advise Aboriginal and Torres Strait Islander peoples that this site may include images, or intellectual property, that may be of a sensitive nature. All efforts have been made to ensure that restricted works are not included.</p>
      
      <h3>Copyright</h3>
      <p>The UQ Anthropology Museum respects the rights of artists and copyright holders. Every effort is made to trace the copyright holders and gain permission for use of the images within this collection. We would be grateful for any information concerning copyright of images.</p>
      <p>No image or information displayed on this site may be reproduced, transmitted or copied other than for the purpose of fair dealing (e.g. for research and study) as permitted under the Copyright Act 1968 and subsequent amendments, without the permission of the copyright holders and UQ Anthropology Museum.
  </p>

<h2>Catalogue technology</h2>
<p>
The UQ Anthropology Museum catalogue was developed as a partnership between the <a href="http://itee.uq.edu.au/~eresearch/">eResearch Group</a> within the UQ School of Information Technology and Electrical Engineering and the <a href="http://anthropologymuseum.uq.edu.au">UQ Anthropology Museum</a>. It uses open source technologies including the Python <a href="https://www.djangoproject.com/">Django web framework</a>, <a href="http://lucene.apache.org/solr/">Apache Solr</a> search server and <a href="http://www.postgresql.org/">PostgreSQL</a> database server. Source code for catalogue is <a href="https://github.com/uq-eresearch/uqam/">available in GitHub</a> under a BSD open source licence.
</p>
<p>
The user interface was designed in collaboration with the <a href="http://www.uq.edu.au/omc/">UQ Office of Marketing and Communications</a>.
</p>

<h2>Digitisation</h2>
<p>The images and 3D scans used on the catalogue were generated as part of the Museum’s digitisation project, made possible primarily through external funding and with funding from the UQ School of Social Science. We aim, with further support, to continue digitising the Collection. It is a time-consuming and costly process, but one that we see as vital in achieving one of our key strategies to engage with local and international researchers and communities.
</p>




<h2>Acknowledgements</h2>
<p>
<a href="http://www.ands.org.au/"><img alt="ANDS Logo" src="{% static "ands-logo.png" %}" /></a>

This project is supported by the <a href="http://www.ands.org.au/">Australian National Data Service</a> (ANDS). ANDS is supported by the Australian Government through the National Collaborative Research Infrastructure Strategy Program and the Education Investment Fund (EIF) Super Science Initiative.
</p>

</div>


{% endblock %}