{% extends "admin/base_site.html" %}

<!-- BREADCRUMBS -- >
{% block breadcrumbs %}
    {% if not is_popup %}
        <ul class="grp-horizontal-list">
            <li><a href="{% url admin:index %}">Home</a></li>
            <li>{{ title }}</li>
        </ul>
    {% endif %}
{% endblock %}

<!-- LOADING -->
{% load i18n %}


<!-- CONTENT -->
{% block content %}
<div class="container-flexible">
    <div class="form-container">
<form action="{% url admin:search_results %}" method="get">
  <fieldset class="module">
    <h2 class="collapse-handler">Query</h2>
  {% for field in filter.form %}
    <div class="row cells-1">
      <div>
        <div class="column span-4"><label for="{{field.html_name}}">
                {{ field.label_tag }}</label></div>
        <div class="column span-flexible">
            {{ field }}
        </div>
      </div>
    </div>
  {% endfor %}
  </fieldset>

  <fieldset class="module">
  <h2>Fields</h2>
  {% for field in columns %}
    <div class="row cells-1">
      <div>
        <div class="column span-4"><label for="{{field.html_name}}">
                {{ field.label_tag }}</label></div>
        <div class="column span-flexible">
            {{ field }}
        </div>
      </div>
    </div>
  {% endfor %}
  </fieldset>

  <fieldset class="module">
  <h2>Per Page</h2>
    <div class="row cells-1">
      <div>
        <div class="column span-4"><label for="per_page">
                Per page</label></div>
        <div class="column span-flexible">
          <select name="per_page">
              <option value="30" selected="selected">30</option>
              <option value="100">100</option>
              <option value="500">500</option>
          </select>
        </div>
      </div>
    </div>
  </fieldset>
  <input type="submit" />
</form>

    </div>
</div>

{% endblock content %}

{% block footer %}
{{ block.super }}
    <script src="{{STATIC_URL}}jquery-1.7.1.min.js" type="text/javascript"></script>
    {% comment %}    <script src="{{STATIC_URL}}chosen/chosen.jquery.js" type="text/javascript"></script>
    <script type="text/javascript">
      $("select").chosen();
      $(".chzn-select").chosen();
      $(".chzn-select-deselect").chosen({allow_single_deselect:true});
    </script>
    {% endcomment %}
{% endblock footer %}
