{% extends "base.html" %}

{% block body %}


<div id="search-panel">
  
    <!-- Changed this from bottom to top -->
    <div class="search-conditions-statement">
        By using the UQ Anthropology Museum Online Catalogue you agree to the conditions of the <a href="#">Copyright Statement</a> below.
    </div>

    <form method="get" action="/search/">
    <fieldset>
    <input size="15" type="text" value="Search the collection..." name="q" class="s" onfocus="if (this.value == 'Search the collection...') {this.value = '';}" onblur="if (this.value == '') {this.value = 'Search the collection...';}" tabindex="1" />
    <input name="submit" value="Search" class="submit btn" title="Search" type="submit" />
    </fieldset>
    </form>

<!-- #### CHANGED THIS FOR DROPDOWN BUTTONS #####-->
    <div class="browse-by-link">
        <p class="search-options-divider">or</p>
        <div class="btn-group" id="browseMenu">
      <button class="btn dropdown-toggle" data-toggle="dropdown"><span class="caret"></span>Browse by
      </button>
          <ul class="dropdown-menu">
            <li><a href="{% url categories_list %}">Categories</a></li>
            <li><a href="{% url parties_browse %}">People</a></li>
            <li><a href="{% url view_places %}">Places</a></li>
          </ul>
        </div>

    </div>

    <div class="advanced-search-link">
    <!-- CHANGED TEXT OF THIS LINK -->
        <a href="#" class="btn"><i class="icon-plus-sign"></i> Additional search options</a>
    </div>

</div>

<div id="content-section" class="fullwidth">
    {% block content %}
    {% endblock %}
</div>


{% endblock %}



{% block javascript %}

<script type="text/javascript">
$(document).ready(function () {
    $('.grid-list-selector button').click(function (e) {
        if ($(this).hasClass('grid')) {
            $('#item-listing-table').hide();
            $('#item-listing-grid').show();
        } else if ($(this).hasClass('list')) {
            $('#item-listing-table').show();
            $('#item-listing-grid').hide();
        }
    });
});
</script>
{% endblock javascript %}