{% load static %}
{% load django_xsession %}
{% get_static_prefix as STATIC %}
<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}UQ Anthropology Museum{% endblock %}</title>

    <link rel="stylesheet" href="http{% if request.is_secure %}s{% endif %}://uq.edu.au/templates/web/css/default.css" media="screen" type="text/css" />
    <link rel="stylesheet" href="{{STATIC}}datatables/css/jquery.dataTables.css" type="text/css">
    <link rel="stylesheet" href="{{STATIC}}css/jquery.lightbox-0.5.css" type="text/css">
    <link rel="stylesheet" href="{{STATIC}}css/custom.css" type="text/css" media="screen, projection">
    <link rel="stylesheet" href="{{STATIC}}fancydropdown.css" type="text/css">

 	<!--[if IE 6]><link rel="stylesheet" href="http{% if request.is_secure %}s{% endif %}://uq.edu.au/templates/web/css/ie6bugs.css" media="screen" type="text/css" /><![endif]-->
    <!--[if IE 7]><link rel="stylesheet" href="{{STATIC}}ie7bugs.css" media="screen" type="text/css" /><![endif]-->
	<!--[if IE 8]><link rel="stylesheet" href="http{% if request.is_secure %}s{% endif %}://uq.edu.au/templates/web/css/ie8bugs.css" media="screen" type="text/css" /><![endif]-->
    <link rel="shortcut icon" href="{{STATIC}}favicon.ico" />
    {% xsession_loader %}
    {% block headextra %}
    {% endblock headextra %}
</head>
<body>
<!--START: For Accessibility -->
<p id="top"><a href="#title" class="skip" accesskey="2">skip nav</a></p>
<!--END: For Accessibility -->

<!--START: Header & Menu -->
	<div id="header"><!--START: Header -->
		<div id="header-inner">
            <h1><a href="http://www.uq.edu.au/" title="Home">The University of Queensland</a></h1>
			<h2><a href="http://catalogue.anthropologymuseum.uq.edu.au/" title="UQ Anthropology Museum">UQ Anthropology Museum</a></h2> <!--Change Link and title -->
			<div id="mininav">
				<ul>
				 <li><a href="http://www.uq.edu.au/" accesskey="1">UQ Home</a></li>
				 <li><a href="http://www.uq.edu.au/contacts" accesskey="3">Contacts</a></li>
				 <li><a href="http://www.uq.edu.au/study" accesskey="4">Study</a></li>
				 <li><a href="http://www.uq.edu.au/maps/" accesskey="5">Maps</a></li>
				 <li><a href="http://www.uq.edu.au/news" accesskey="6">News</a></li>
				 <li><a href="http://www.uq.edu.au/events/" accesskey="7">Events</a></li>
				 <li><a href="http://www.library.uq.edu.au/" accesskey="8">Library</a></li>
				 <li><a href="http://my.uq.edu.au" accesskey="9">my.UQ</a></li>
				</ul>
				<div class="clear">&nbsp;</div>
			</div>

			<div id="search">
				<form id="searchbox" method="get" action="/search/">
				<fieldset>
				<label for="search-entry">Search Entry</label>
				<input id="search-entry" size="15" type="text" value="Search this site..." name="q" class="s" onfocus="if (this.value == 'Search this site...') {this.value = '';}" onblur="if (this.value == '') {this.value = 'Search this site...';}" tabindex="1" />
				<input name="submit" value="" class="submit" title="Search this site" type="submit" />
                <input type="hidden" name="models" value="cat.museumobject">
	
				</fieldset>
				</form>
			</div>

			<div class="clear">&nbsp;</div>
		</div>
	</div><!-- QC: 1 -->
  <div id="topnav">
    <div id="topnav-inner">
        <ul class="tabs">
            <li><a href="/">Home</a></li>
            <li><a href="/about/">About</a></li>
            <li><a href="{% url categories_list %}">Categories</a></li>
            <li><a href="{% url parties_browse %}">People</a></li>
            <li><a href="{% url view_places %}">Places</a></li>
            <li><a href="{% url collections_home %}">Sub collections</a></li>
            <li><a href="{% url haystack_search %}">Search</a></li>
            
         {% if user.is_staff %}
            <li style=""><a href="/admin/">Admin</a></li>
         {% endif %}
         {% if user.is_authenticated %}
            <li style=""><a href="{% url auth_logout %}">Logout</a></li>
         {% else %}
            <li style="padding-left: 50px"><a href="{% url auth_login %}?next={{request.path}}">Log in</a></li>
         {% endif %}
        </ul>
    </div>
</div><!--END: Header & Menu -->
<div class="wrapper">
  <!-- START: Content -->
  <div id="content">
    {% block body %}

    {% endblock body %}

    {% block bottom_breadcrumbs %}
    <!-- START: Breadcrumb Trails -->
    <div id="pagebase">
      <div id="breadCrumb1" class="breadCrumb module">
        <div style="overflow: hidden; position: relative; width: 820px;">
          <div>
            <ul style="width: 5000px; ">
              <li class="first">
                <a href="/">Home</a>
              </li>
              <li class="last">UQ Anthropology Museum</li>
            </ul>
          </div>
        </div>
      </div>
      <span class="top">
        <a href="#top">Go to top</a>
      </span>
    </div>
    <!-- END: Breadcrumb Trails -->
    {% endblock bottom_breadcrumbs %}
  </div><!-- /content -->
  <div id="copyright-statement">
    <div class="copyright-statement">
      <p>
          The UQ Anthropology Museum respects the rights of artists and copyright holders. Every effort is made to trace the copyright holders and gain permission for use of the images within this collection. We would be grateful to receive any information concerning copyright of images.
      </p>
      <p>
          No image or information displayed on this site may be reproduced, transmitted or copied other than for the purpose of fair dealing (e.g. for research and study) as permitted under the Copyright Act 1968 and subsequent amendments, without the permission of the copyright holders and the UQ Anthropology Museum.
      </p>
    </div>
  </div>

</div><!-- /wrapper -->


<!--START: Footer -->
<div id="footer">

	<div class="wrapper">
		<div id="siteinfo" class="vcard">
			<div class="org fn"><a href="http://www.uq.edu.au/">The University of Queensland</a></div>
			<address id="uq-address" class="adr"><span class="street-address">Brisbane</span>
			<span class="locality">St Lucia</span>, <span class="region">QLD</span> <span class="postal-code">4072</span></address>

			<div class="tel">+61 7 3365 1111</div>
			<div class="campus">Other Campuses: <a href="http://www.uq.edu.au/ipswich/">UQ Ipswich</a>, <br /><a href="http://www.uq.edu.au/gatton/">UQ Gatton</a>, <a href="http://www.uq.edu.au/about/herston-campus">UQ Herston</a></div>
			<div class="directions"><a href="http://www.uq.edu.au/maps/">Maps and Directions</a></div>
			<div id="copyright">&copy; 2011 The University of Queensland</div>
		</div>

		<div id="footer-resources">
			<h2>Supplemental Resources</h2>
	
			<div id="navResources">
			<h3>A Member of</h3>
	
			<div class="member-logo">
		    <a href="http://www.universitas21.com/"><img src="http{% if request.is_secure %}s{% endif %}://uq.edu.au/templates/web/images/logo-universitas.gif" width="25" height="25" alt="Universitas 21" /></a> &nbsp;&nbsp;

				<a href="http://www.go8.edu.au/"><img src="http{% if request.is_secure %}s{% endif %}://uq.edu.au/templates/web/images/logo-go8.gif" width="123" height="18" alt="Group of 8" /></a>
		  </div>
	
			<p><a href="http://www.uq.edu.au/terms-of-use/">Terms of use</a> | <a target="_blank" href="https://www.uq.edu.au/feedback">Feedback</a></p><br />

			<p>Authorised by: </p>

	    <p>ABN 63 942 912 684</p>
	    <p>CRICOS Provider No:<a class="footerlinks"  href="http://www.uq.edu.au/about/cricos-link">00025B</a></p>
			</div>
	
			<div id="navQuick">
			<h3>Quick Links</h3>
			<ul>
			<li><a href="http://www.uq.edu.au/news/">For Media</a></li>

			<li><a href="http://www.uq.edu.au/contacts/">Emergency Contact</a></li>
			</ul>
			</div>
	
			<div id="navSocial">
			<h3>Social Media</h3>
			<ul>
			<li><a href="http://www.uq.edu.au/itunes/">iTunes U</a></li>
			<li><a href="http://www.flickr.com/photos/uqnews/sets/">Flickr</a></li>
			<li><a href="http://twitter.com/uqnewsonline">Twitter</a></li>
			<li><a href="http://www.youtube.com/universityqueensland">YouTube Channel</a></li>
			</ul>
			</div>
		</div>

		<div id="footer-right">
			<div id="navExplore">

			<h3>Explore</h3>
			<ul>
		  <li><a href="http://www.alumni.uq.edu.au/giving">Giving to UQ</a></li>
			<li><a href="http://www.uq.edu.au/departments/">Faculties &amp; Divisions</a></li>
			<li><a href="http://www.uq.edu.au/uqjobs/">UQ Jobs</a></li>		
			<li><a href="http://www.uq.edu.au/contacts/">Contact UQ</a></li>

			<li><a href="http://www.uq.edu.au/services/">Services &amp; Facilities</a></li>												
			</ul>
			</div>	
			
			<div id="navLogos">
			<h3>Need Help?</h3>
			<p><a href="http://www.uq.edu.au/uqanswers/" class="opacity-toggle"><img src="http{% if request.is_secure %}s{% endif %}://uq.edu.au/templates/web/images/button-uqanswers.png" width="102" height="28" alt="UQ Answers" /></a></p>			
			

			<p class="centenary"><a href="http://www.uq.edu.au/centenary/" class="opacity-toggle"><img src="http{% if request.is_secure %}s{% endif %}://uq.edu.au/templates/web/images/logo-centenary.png" width="102" height="69" alt="UQ Centenary" /></a></p>
			</div>				

		</div>
	</div>
<div class="clearboth"></div>
</div>
<!-- END: Footer  --><!-- This page loaded in 0.00619 seconds. --><!-- QC: 1 --><!--END: Footer -->


    <script type="text/javascript" src="{{STATIC}}js/jquery-1.8.2.min.js"></script>
    <script type="text/javascript" src="{{STATIC}}js/bootstrap-dropdown.js"></script>
    <script type="text/javascript" src="{{STATIC}}js/jquery.hoverIntent.minified.js"></script>
    <script type="text/javascript" src="{{STATIC}}js/slides.min.jquery.js"></script>
    <script type="text/javascript" src="{{STATIC}}jquery.cookie.js"></script>

    <!-- NEED TO CALL THIS FOR DROPDOWNS -->
    <script>
        $(document).ready(function(){
            $('.dropdown-toggle').dropdown();
        });

        // Drop Down Menu in Header
        $(function () {
            $('.menu-dropdown').each(function () {
                $(this).parent().eq(0).hoverIntent({
                    timeout: 20,
                    over: function () {
                        var current = $('.menu-dropdown:eq(0)', this);
                        current.slideDown(300);
                    },
                    out: function () {
                        var current = $('.menu-dropdown:eq(0)', this);
                        current.fadeOut(200);
                    }
                });
            });
        });

        // 
        $('.advanced-search-link button').click(function (e) {
            var fields = $('.advanced-search-fields');
            if (fields.is(":visible")) {
                // fields.hide();
                // $(this).html('<i class="icon-plus-sign"></i> Additional search options');
            } else {
                fields.show();
                $(this).hide();
                // $(this).html('<i class="icon-minus-sign"></i> Basic search');
            }
        });

  // Tune the search form to not submit unchanged fields
      $('form#main-search').submit(function() {
          if ($('#search-main-category').val() == "Select category...") {
              $('#search-main-category').attr("disabled", "disabled");
          }
          if ($('#search-main-region').val() == "Select location...") {
              $('#search-main-region').attr("disabled", "disabled");
          }
          if ($('#search-main-person').val() == "") {
              $('#search-main-person').attr("disabled", "disabled");
          }
          if ($('#main-search-q').val() === "" || $('#main-search-q').val() == "Search the collection...") {
              $('#main-search-q').val(' ');
          }

      });

       

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-28675101-34']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
    {% block javascript %}
    {% endblock %}
</body>
</html>
