{% extends "base.html" %}

{% block headextra %}

<link rel="stylesheet" href="{{STATIC}}datatables/css/jquery.dataTables.css" type="text/css">
{% endblock headextra %}

{% block body %}


  <div id="search-tool" class="fullwidth">
    <p class="conditions-agreement-statement">
      By using the UQ Anthropology Museum Online Catalogue you agree to the conditions
      of the <a href="#">Copyright Statement</a>.
    </p>

{% include "snippets/top_search_panel.html" %}

  </div>

  <div id="content-primary" class="fullwidth">
    {% block content %}
    {% endblock %}
  </div>


{% endblock %}



{% block javascript %}

<script type="text/javascript">
$(document).ready(function () {
    $('.grid-list-selector button').click(function (e) {
        if ($(this).hasClass('grid')) {
            $('#item-listing-table').hide();
            $('#item-listing-grid').show();
        } else if ($(this).hasClass('list')) {
            $('#item-listing-table').show();
            $('#item-listing-grid').hide();
        }
    });
});
</script>
{% endblock javascript %}