{% load static %}
{% get_static_prefix  as STATIC %}
<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}UQ Anthropology Museum{% endblock %}</title>
    <link rel="stylesheet" href="{{STATIC}}blueprint/screen.css" type="text/css" media="screen, projection">
    <link rel="stylesheet" href="{{STATIC}}blueprint/print.css" type="text/css" media="print"> 
    <link rel="stylesheet" href="{{STATIC}}nivo-slider/nivo-slider.css" type="text/css" media="screen"> 
    <link rel="stylesheet" href="{{STATIC}}nivo-slider/themes/default/default.css" type="text/css" media="screen"> 
    <link rel="stylesheet" href="{{STATIC}}nivo-slider/themes/orman/orman.css" type="text/css" media="screen"> 
    <link rel="stylesheet" href="{{STATIC}}nivo-slider/themes/pascal/pascal.css" type="text/css" media="screen"> 
    <link rel="stylesheet" href="{{STATIC}}main.css" type="text/css" media="screen, projection">
    <script type="text/javascript" src="{{STATIC}}jquery-1.7.1.min.js"></script>
    <!--[if lt IE 8]>
    <link rel="stylesheet" href="{{STATIC}}blueprint/ie.css" type="text/css" media="screen, projection">
    <![endif]-->
    <script type="text/javascript" src="{{STATIC}}nivo-slider/jquery.nivo.slider.pack.js"></script>
</head>
<body>
    <div class="container">
        <h1 style="float: left;">UQ Anthropology Museum</h1>
        <div style="float: right; text-align: right;">
            {% if user.is_authenticated %}
            Logged in as: {{ user }}<br>
            <a href="{% url auth_logout %}">Log out</a>
            {% else %}
            <a href="{% url auth_login %}?next={{request.path}}">Log in</a>
            {% endif %}
        </div>
        <hr>
        <div class="menu">
            <ul>
                <li><a href="{% url index %}">Home</a></li>
                <li><a href="{% url categories_list %}">Artefacts</a></li>
    <!--
                <li><a href="{% url artefact_list %}">Artefacts</a></li>
    -->
                <li><a href="{% url bloc_list %}">Cultural Blocs</a></li>
                <li><a href="{% url person_list %}">People</a></li>
    <!--        
                <li><a href="{% url place_list %}">Places</a></li>
                <li><a href="{% url all_regions_list %}">Regions</a></li>
                <li><a href="{% url country_list %}">Countries</a></li>
    -->
                <li><a href="{% url place_map %}">Place</a></li>
                <li><a href="{% url collections_home %}">Collections</a></li>
                {% if user.is_staff %}
                <li><a href="/admin/">Admin</a></li>
                <li><a href="/dashboard/">Dashboard</a></li>
                {% endif %}
            </ul>
            <div style="float: right;">
            <form method="get" action="/search/">
                <input type="text" name="q" value="{{query}}">
                <input type="hidden" name="models" value="cat.museumobject">
                <input type="submit" value="Search">
            </form>
        </div>
        </div>
        <hr>

        {% block content %}
        {% endblock %}

        {% if page_obj %}
{% spaceless %}
<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
        {% endif %}
    </span>
</div>
{% endspaceless %}
{% endif %}

    </div>

</body>
</html>
