{% load static %}
{% get_static_prefix as STATIC %}
<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}UQ Anthropology Museum{% endblock %}</title>
    <link rel="stylesheet" href="{{STATIC}}bootstrap/css/bootstrap.css" type="text/css" media="screen, projection">
    <link rel="stylesheet" href="{{STATIC}}bootstrap/css/bootstrap-responsive.css" type="text/css" media="screen, projection">
    <link rel="stylesheet" href="{{STATIC}}main.css" type="text/css" media="screen, projection">
    <link rel="shortcut icon" href="{{STATIC}}favicon.ico" />
</head>
<body>
<div class="container">
  <div>
    <h1 style="float: left;">UQ Anthropology Museum</h1>
    <div style="float: right; text-align: right;">
        {% if user.is_authenticated %}
        Logged in as: {{ user }}
        <a href="/admin/">Admin</a><br>
        <a href="{% url auth_logout %}">Log out</a>
        {% else %}
        <a href="{% url auth_login %}?next={{request.path}}">Log in</a>
        {% endif %}
        {% if user.is_staff %}
        {% endif %}
    </div>
  </div>
  <div class="row">
    <div class="span8 subnav">
      <ul class="nav nav-pills">
        <li><a href="/">Home</a></li>
        <li><a href="/about/">About</a></li>
        <li class="dropdown">
          <a class="dropdown-toggle"
            data-toggle="dropdown"
            href="#">Collection<b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="{% url search %}">Search</a></li>
            <li><a href="{% url categories_list %}">Categories</a></li>
            <li><a href="{% url bloc_list %}">Cultural Blocs</a></li>
            <li><a href="{% url person_list %}">People</a></li>
            <li><a href="{% url place_map %}">Place</a></li>
            <li><a href="{% url collections_home %}">Collections</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown"
            href="#">Search<b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="{% url search %}">Search</a></li>
            <li><a href="/filter/">Filter</a></li>
          </ul>
        </li>
        <li><a href="/events/">Exhibitions and Events</a></li>
        <li><a href="/other_activities/">Other Activities</a></li>
        <li><a href="/contact/">Contact</a></li>
      </ul>
    </div>
    <form method="get" action="/search/" class="form-search pull-right">
      <input type="hidden" name="models" value="cat.museumobject">
      <input type="text" name="q" value="{{query}}" class="input-medium search-query">
      <input type="submit" value="Search" class="btn">
    </form>
  </div><!-- /row -->

  {% block content %}
  {% endblock %}


  <hr>
  <footer>
    <p>&copy; University of Queensland 2012</p>
  </footer>
</div><!-- /container -->


    <script type="text/javascript" src="{{STATIC}}jquery-1.7.1.min.js"></script>
    <script type="text/javascript" src="{{STATIC}}bootstrap/js/bootstrap.js"></script>
    {% block javascript %}
    {% endblock %}
</body>
</html>
