{% extends "base.html" %}
{% load static %}

{% block body %}
<div class="homeBanner" id="homeBanner">
    <div class="slides_container">
        <div class="mainBanner">
            <a href="/search/?q=+&amp;item_name=Food+container&amp;has_images=on"><img src="{% static 'images/banners/banner-01.jpg' %}" alt="Online Catalogue - Anthropology Museum"
            title="Food containers | Unknown Maker(s) | Santa Ana Island, Makira-Ulawa Province, Solomon Islands" /></a>
        </div>
        <div class="mainBanner">
            <a href="/item/7008"><img src="{% static 'images/banners/banner-02.jpg' %}" alt="Online Catalogue - Anthropology Museum"
            title="Trumpet | Unknown Maker(s) | Mindimbit Village, East Sepic Province, Papua New Guinea" /></a>
        </div>
        <div class="mainBanner">
            <a href="/search/?q=+&amp;item_name=Carved+animal&amp;has_images=on"><img src="{% static 'images/banners/banner-03.jpg' %}" alt="Online Catalogue - Anthropology Museum"
            title="Carved animal | Unknown Maker(s) | Aurukun, Cape York Peninsua, Australia" /></a>
        </div>
        <div class="mainBanner">
            <a href="/search/?q=dance&amp;has_images=True"><img src="{% static 'images/banners/banner-04.jpg' %}" alt="Online Catalogue - Anthropology Museum"
            title="Dance ornament | Unknown Maker(s) | Santa Ana Island, Makira-Ulawa Province, Solomon Islands" /></a>
        </div>
        <div class="mainBanner">
            <a href="/itemtype/containers/Basket/"><img src="{% static 'images/banners/banner-05.jpg' %}" alt="Online Catalogue - Anthropology Museum"
            title="Basket | Unknown Maker(s) | Buka Island, Autonomous Region of Bougainville, Papua New Guinea" /></a>
        </div>
    </div>
</div>

<div id="home">
  {% include "snippets/top_search_panel.html" with expanded=1 %}
  <div class="homePrimary">
    <div class="homePrimLeft">
      <h2>Welcome</h2>
      <p><a href="/item/3726"><img src="/static/images/dance_bilum.jpg" alt="Man’s dance bilum" title="Man's dance bilum | Unknown maker(s) | Telefomin, West Sepik Province, Papua New Guinea | Donated by Robinson and Bott, 1950" /></a>The UQ Anthropology Museum houses a wealth of items ranging from everyday implements to diverse performance paraphernalia.  There are water-craft, paintings, bodywear, hunting gear, a large quantity of stone tools, including grindstones and axes and a collection of over 6,000 photographs.</p>
      <p><a href="http://www.anthropologymuseum.uq.edu.au/" class="learnMore">Learn more about the Anthropology Museum &rsaquo;</a></p>
    </div>
    <div class="homePrimRight">
      <h2>New Acquisition</h2>
      <img src="/static/images/tapa-cloth.jpg" alt="Tapa cloth" /> <h4>Tapa Cloth</h4><p>Papua New Guinea</p>
      <p><a href="/item/40575" class="learnMore btn btn-warning">Learn more</a></p>
    </div>
  </div>
  <div class="homeSecondary">
    <div class="col notes">
      <h3>Notes regarding collection records</h3>
      <p>Please note that UQ Anthropology Museum Catalogue records may not reflect the best available knowledge about Collection items. If you have additional information or questions about objects in the Collection, we encourage you to <a href="contact">contact us</a>.</p>
      <p>Users are warned that there may be words and descriptions which may be culturally sensitive and which might not normally be used in certain public or community contexts. Terms and annotations which reflect the author's attitude or that of the period in which the item was written may be considered inappropriate today in some circumstances.</p>
      </div>
    <div class="col atsisWarn">
      <h3>Aboriginal and Torres-Strait Islander Warning</h3>
      <p>We respectfully advise Aboriginal and Torres Strait Islander peoples that this site may include images, or intellectual property, that may be of a sensitive nature. All efforts have been made to ensure that restricted works are not included.</p>
    </div>
    <div class="col copyright">
      <h3>Copyright</h3>
      <p>The UQ Anthropology Museum respects the rights of artists and copyright holders. Every effort is made to trace the copyright holders and gain permission for use of the images within this collection. We would be grateful for any information concerning copyright of images.</p>
      <p>No image or information displayed on this site may be reproduced, transmitted or copied other than for the purpose of fair dealing (e.g. for research and study) as permitted under the Copyright Act 1968 and subsequent amendments, without the permission of the copyright holders and UQ Anthropology Museum.
  </p>
    </div>
  </div>
  <div class="acknowledgement"><p>We would like to acknowledge <strong>Ms Lesley Bryant</strong> for her generous contribution toward developing the new catalogue.</p>
    <p>Development of this catalogue is supported by the <a href="http://www.ands.org.au/">Australian National Data Service</a> (ANDS). ANDS is supported by the Australian Government through the National Collaborative Research Infrastructure Strategy Program and the Education Investment Fund (EIF) Super Science Initiative.</p></div>
</div>
{% endblock %}

{% block javascript %}

    <script>
        $(document).ready(function(){
            $('#homeBanner').slides({
                'play': 7500,
                'generatePagination': false,
                'slideSpeed': 500
            });
        });
    </script>
{% endblock javascript %}