<div class="pager {{extra_class}}">
   
      <div class="page">{% if objects.has_previous %}<a href="?page={{ objects.previous_page_number }}{{ query }}">&laquo;</a>{% else %}&laquo;{% endif %}</div>
   {% if show_first %}
      <div class="page prev"><a href="?page=1{{ query }}">1</a></div>
      <div class="page ellipsis">...</div>
   {% endif %}
   {% for linkpage in page_numbers %}
      {% ifequal linkpage page %}
         <div class="page current">{{ page }}</div>
      {% else %}
         <div class="page"><a href="?page={{ linkpage }}{{ query }}">{{ linkpage }}</a></div>
      {% endifequal %}
   {% endfor %}
   {% if show_last %}
      <div class="page ellipsis">...</div>
      <div class="page"><a href="?page={{ objects.paginator.num_pages }}{{ query }}">{{ objects.paginator.num_pages }}</a></div>
   {% endif %}
   <div class="page next">{% if objects.has_next %}<a href="?page={{ objects.next_page_number }}{{ query }}">&raquo;</a>{% else %}&raquo;{% endif %}</div>

</div><!-- /pager -->