{% extends "base_wide.html" %}

{% block content %}
<div style="float:right;font-size: 80%;">
    {% if user.is_staff %}
    <a href="{% url admin:subcollections_collection_change collection.id %}">Admin</a>
    {% endif %}
    <a href="{{collection.get_absolute_url}}/atom">Atom</a>
</div>
<h1>{{ collection.title }}</h1>
<div class="collection-details">
    <dl>
        <dt>Description</dt>
        <dd>{{ collection.description }} </dd>
{% comment %}
        <dt>Author</dt>
        <dd>{{ collection.author.first_name }} {{ collection.author.last_name }} </dd>
        <dt>Copyright</dt>
        <dd>{{ collection.rights }}</dd>
        <dt>Access rights</dt>
        <dd>{{ collection.access_rights }}</dd>

        <dt>Date updated</dt>
        <dd>{{ collection.last_published }}</dd>
{% endcomment %}

        <dt>Categories</dt>
        <dd>
        {% for category in collection.get_categories %}
        <a href="{{category.get_absolute_url}}">{{category.name}}</a>{% if not forloop.last %}, {% endif %}
        {% endfor %}
        </dd>

        <dt>Places</dt>
        <dd>
        {% for place in collection.get_places %}
        <a href="{{place.get_absolute_url}}">{{place}}</a>{% if not forloop.last %}, {% endif %}
        {% endfor %}
        </dd>

    </dl>
</div>


<div class="collection-map">
    <div id="map_canvas" style="height:320px; width:420px;"></div>
</div>


<div class="collection-items">

    <h2>{{objects.paginator.count}} items in sub-collection</h2>
    {% include "snippets/paged_object_list.html" %}

</div>

{% endblock %}


{% block javascript %}
{{ block.super }}
{% with places=collection.get_places %}
{% if places %}
<script type="text/javascript"
  src="{% if request.is_secure %}https://maps-api-ssl.google.com{% else %}http://maps.googleapis.com{% endif %}/maps/api/js?sensor=false"></script>
<script type="text/javascript">
    var geocoder, map;
    $(document).ready(
    function initialize() {
        var myOptions = {
            zoom: 3, // Zoomed out to show location in country
            disableDefaultUI: true,
            mapTypeId: google.maps.MapTypeId.ROADMAP
        };

        map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);

        var bounds = new google.maps.LatLngBounds();

        var places = [{% for p in places %}{%if p.latitude %}
            ['{{p.name}}', {{p.latitude}}, {{p.longitude}}, '{{p.get_absolute_url}}']{% if not forloop.last %},{% endif %}
        {% endif %}{% endfor %}];

        for (var i = 0; i < places.length; i++) {
            var place = places[i];
            var latlng = new google.maps.LatLng(place[1], place[2])
            var marker = new google.maps.Marker({
                map: map,
                position: latlng,
                title: place[0],
                url: place[3]
            });
            google.maps.event.addListener(marker, 'click', function() {
                window.location.href = this.url;
            });
            bounds.extend(latlng);
        }

        map.fitBounds(bounds);
    });
</script>
{% endif %}
{% endwith %}
{% endblock %}