{% extends "admin/base_site.html" %}

<!-- BREADCRUMBS -- >
{% block breadcrumbs %}
    {% if not is_popup %}
        <ul class="grp-horizontal-list">
            <li><a href="{% url admin:index %}">Home</a></li>
            <li>Bulk upload</li>
        </ul>
    {% endif %}
{% endblock %}

<!-- CONTENT -->
{% block content %}

<form method="post" enctype="multipart/form-data"
    action="/mediaman/handle_upload/" name="uploaddetails">
    Type of files being uploaded:
    {{ form.uploadtype }}
    <hr>
    <!--
    Extra fields applet sends
    * Upload User from session
    * Date
    * md5sum from jupload
    * original filename
    * original file path
    -->
</form>

<applet code="wjhk.jupload2.JUploadApplet"
            name="JUpload"
            archive="{{STATIC_URL}}jupload-5.0.7.jar"
            width="1200"
            height="700"
            mayscripT="true"
            alt="The java pugin must be installed.">
    <param name="postURL" value="/mediaman/handle_upload/" />
    <!-- Optionnal, see code comments -->
    <param name="showLogWindow" value="false" />
    <param name="lookAndFeel" value="system" />
    <param name="specificHeaders" value="X-CSRFToken: {{csrf_token}}" />
    <param name="sendMD5Sum" value="true" />
    <param name="lang" value="en" />

    <param name="formdata" value="uploaddetails" />
    <param name="nbFilesPerRequest" value="1" />
    Java 1.5 or higher plugin required. 

    <param name="debugLevel" value="0" />
</applet>





{% endblock content %}


{% block footer %}

<script src="{{STATIC_URL}}jquery-1.7.1.min.js" type="text/javascript">
</script>

{% endblock footer %}
