{% extends "base_wide.html" %}

{% block content %}
<div class="breadcrumbs">
<a href="{% url categories_list %}">Categories</a> > 
  {% for level in breadcrumbs %}
      <a href="{{ level.get_absolute_url }}">{{ level.name }}</a> > 
  {% endfor %}
</div>

<h1>{{ category.name }}</h1>


{% if categories %}
<ul class="nav nav-list">
  <li class="nav-header">
    Categories
  </li>
{% for category in categories %}
  <li>
    <a href="{{category.slug}}/">{{category.name}}</a>
  </li>
{% endfor %}

</ul>
{% endif %}



{% include "snippets/paged_object_list.html" %}


{% endblock %}
