{% extends "base_wide.html" %}
{% load static %}

{% block content %}
<h1>Categories</h1>

<div>
{% for category in categories %}
  {% if category.name == 'Equipment' %}
    <div class="dropdown category-icon">
      <a class="dropdown-toggle" role="button" data-toggle="dropdown" data-target="#" href="{{category.get_absolute_url}}">
        <img src="{% static category.icon_path %}" title="{{category.icon_title}}">
        <b>{{category.name}}</b>
      </a>
        <ul class="dropdown-menu" role="menu">
            {% for equip in equipment %}
            <li><a href="{{equip.get_absolute_url}}">{{equip.name}}</a></li>
            {% endfor %}
        </ul>
    </div>
  {% else %}
  <div class="category-icon">
    <a href="{{category.get_absolute_url}}">
      <img src="{% static category.icon_path %}" title="{{category.icon_title}}">
      <b>{{category.name}}</b>
    </a>
  </div>
  {% endif %}
{% endfor %}
</div>



{% endblock %}
