{% extends "base_wide.html" %}

{% block content %}
<div class="breadcrumbs">
<a href="{% url categories_list %}">Categories</a> > 
  {% for level in breadcrumbs %}
      <a href="{{ level.get_absolute_url }}">{{ level.name }}</a> > 
  {% endfor %}
</div>

<h1>{{ category.name }}</h1>

{% if item_types %}
<div class="places-subplaces">
    {% for column in item_types %}
    <ul class="column">
        {% for item_type in column %}
        <li><a href="{% url item_type_list item_name=item_type.name category=category.slug %}">{{item_type.name}}</a></li>
        {% endfor %}
    </ul>
    {% endfor %}
</div><!-- /places-subplaces -->
{% endif %}

{% if categories %}
<ul class="nav nav-list">
  <li class="nav-header">
    Categories
  </li>
{% for category in categories %}
  <li>
    <a href="{{category.slug}}/">{{category.name}}</a>
  </li>
{% endfor %}

</ul>
{% endif %}



{% include "snippets/paged_object_list.html" %}


{% endblock %}
