{% extends "base_generic.html" %}

{% block content %}
<h1>Categories</h1>

    <ul class="breadcrumb">
        <li><a href="{% url categories_list %}">Categories</a></li>
    {% for level in breadcrumbs %}
    <span class="divider">»</span>
    <li{% if forloop.last %} class="active"{% endif %}><a href="{{ level.get_absolute_url }}">{{ level.name }}</a>
    </li>
    {% endfor %}
    </ul>



{% if categories %}
<table>
    <tr><th>Name</th></tr>
{% for category in categories %}
    <tr><td>
        <a href="{{category.slug}}/">{{category.name}}</a>
    </td></tr>
{% endfor %}
</table>
{% endif %}


{% include "snippets/paged_object_list.html" %}


{% endblock %}
