{% extends "base_generic.html" %}

{% block content %}
<div>
<div style="float:right;font-size: 80%;">
    <a href="{% url place_kml %}">View in Google Earth</a>
</div>
<h1>Places</h1>
<script type="text/javascript"
    src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>

<script type="text/javascript">
    var map;
    $(document).ready(
    function initialize() {
        var myOptions = {
            zoom: 4, // Zoomed out to show location in world
            disableDefaultUI: false,
            mapTypeId: google.maps.MapTypeId.SATELLITE
        };
        var center = new google.maps.LatLng(-23.5, 145.3); // Near Barcaldine
        myOptions.center = center;

        map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);

//        var placesLayer = new google.maps.KmlLayer('http://localhost:8000/place/kml');
//        var placesLayer = new google.maps.KmlLayer('{{kml_url}}');
        var placesLayer = new google.maps.KmlLayer("http://anthropology-uat.metadata.net/static/places.kml", {preserveViewport: true});
        placesLayer.setMap(map);

//        var marker = new google.maps.Marker({
//            map: map,
//            position: latlng,
//            title: "{{place.name}}, {{place.country}}"
//        });
    });
</script>

<div id="map_canvas" style="width:940px; height:600px"></div>

</div>
{% endblock %}
