{% extends "base_wide.html" %}

{% load uqam %}
{% load thumbnail %}
{% block content %}

{% if user.is_staff %}
<div style="float:right;font-size: 80%;">
  <a href="{% url admin:cat_museumobject_change museumobject.id %}">Admin</a>
</div>
{% endif %}




{% if search_results %}
  <div class="search-results-navigation">
    <div class="back-to-results">
      <a href="{{search_url}}" class="btn">Back to results</a>
    </div>
    <div class="paging">

      <p>{{search_result}} of {{search_results.count}}</p>

      {% if search_prev_obj %}
        <a href="{{ search_prev_obj.get_absolute_url }}?search_result={{search_result|add:'-1'}}" class="btn">Prev</a>
      {% endif %}
      {% if search_next_obj %}
        <a href="{{ search_next_obj.get_absolute_url }}?search_result={{search_result|add:'1'}}" class="btn">Next</a>
      {% endif %}
    </div>
  </div><!-- /search-results-navigation -->
{% endif %}


<h1>{{ museumobject.artefact_type }}</h1>


<!--#####  ITEM REPRESENTATIONS ##### -->
<div id="item-representations">
  <div id="item-images">
    <div class="slides_container">
  {% for ar in images %}
    <div class="item-image">
    {% if ar.url %}
      <a href="{{ ar.url }}" >
    {% else %}
      <a href="{{ ar.image|thumbnail_url:'large_display' }}">
    {% endif %}
      <img src="{{ ar.image|thumbnail_url:'item_display' }}" alt="" width="384" height="256"></a>
    </div>
  {% empty %}
    <div class="item-image">
      <img class="placeholder" src="http://placehold.it/384x256" alt="placeholder">
    </div>
  {% endfor %}
    </div><!-- /slides_container -->

    <div class="view-3d">
      <a href="#" class="btn">View in 3D</a>
    </div>
  </div><!-- /item-images -->
</div> <!-- /item-representations -->



<div id="item-record">

  <dl class="catalogue-info">

    <dt class="registration-number">Registration number</dt>
    <dd class="registration-number">{{ museumobject.registration_number }}</dd>

    <dt class="item-type">Item name</dt>
    <dd class="item-type">{{ museumobject.artefact_type }}</dd>

    <dt class="category">Category</dt>
    <dd class="category">
    {% for category in museumobject.category.all %}
      <a href="{{ category.get_absolute_url }}">{{ category.name }}</a><br>
    {% endfor %}
    </dd>
  </dl><!-- /catalogue-info -->


  <dl class="culturallocation-info">

    <dt class="indigenous-name">Indigenous name</dt>
    <dd class="indigenous-name">{{ museumobject.indigenous_name }}&nbsp;</dd>

    <dt class="maker">Maker</dt>
    <dd class="maker">
    {% if museumobject.maker %}
    <a href="{{ museumobject.maker.get_absolute_url }}">
      {{ museumobject.maker.display_name }}</a>
    {% endif %}&nbsp;
    </dd>

    <dt class="assoc-cultural-group">Associated cultural group</dt>
    <dd class="assoc-cultural-group">{{ museumobject.assoc_cultural_group }}&nbsp;</dd>

    <dt class="place">Place</dt>
    <dd class="place">
      <a href="{{museumobject.global_region.get_absolute_url}}">
        {{ museumobject.global_region }}</a>
        >
      <a href="{{museumobject.country.get_absolute_url}}">
        {{ museumobject.country }}</a>
      {% if museumobject.state_province %}
        >
      <a href="{{museumobject.state_province.get_absolute_url}}">
        {{ museumobject.state_province }}</a>
      {% endif %}
      {% if museumobject.region_district %}
        >
      <a href="{{museumobject.region_district.get_absolute_url}}">
        {{ museumobject.region_district }}</a>
      {% endif %}
      {% if museumobject.locality %}
        >
      <a href="{{museumobject.locality.get_absolute_url}}">
        {{ museumobject.locality }}</a>
      {% endif %}
    </dd>

    {% if museumobject.place.latitude %}
    <dt class="map">Map</dt>
    <dd class="map">
        <div id="map_canvas" style="height:105px"></div>
    </dd>
    {% endif %}
  </dl><!-- /culturallocation-info -->


  <dl class="aquisition-info">
    <dt class="collector">Collector</dt>
    <dd class="collector">
    <a href="{{museumobject.collector.get_absolute_url}}">
      {{ museumobject.collector.display_name }}</a>
    </dd>

    <dt class="acquisition-date">Acquisition date</dt>
    <dd class="acquisition-date">
      {{ museumobject.acquisition_date|date:"F d, Y" }}
    </dd>

    <dt class="acquisition-method">Acquisition method</dt>
    <dd class="acquisition-method">
    {{ museumobject.acquisition_method }} <b>{{ museumobject.acquisition_method.preposition }}</b>
     <a href="{{museumobject.donor.get_absolute_url}}">{{ museumobject.donor.display_name }}</a>
    </dd>
  </dl><!-- /aquisition-info -->


  <dl class="physical-description">
  {% if museumobject.raw_material %}
    <dt class="raw-materials">Raw material</dt>
    <dd class="raw-materials">{{ museumobject.raw_material }}</dd>
  {% endif %}
    <dt class="dimensions">Dimensions</dt>
    <dd class="dimensions">
      <b>Height: </b> {{ museumobject.height|dimension:"mm" }}
      <b>Length: </b> {{ museumobject.length|dimension:"mm" }}
      <b>Width: </b> {{ museumobject.width|dimension:"mm" }}
      <b>Depth: </b> {{ museumobject.depth|dimension:"mm" }}
      <b>Circumference: </b> {{ museumobject.circumference|dimension:"mm" }}
    </dd>
  </dl><!-- /physical-description -->


</div><!-- /item-record -->



{% if user.is_staff %}
<div style="display: none;" class="staff-information">
  <h3>Staff information</h3>
  <dl class="staff-detail">
    {% if museumobject.functional_category %}
      <dt>Functional Category (old)</dt>
      <dd>{{ museumobject.functional_category }}</dd>
    {% endif %}


    {% if museumobject.category_illustrated %}
      <dt>Category Illustrated</dt>
      <dd>
        <a href="{{ museumobject.category_illustrated.get_absolute_url }}">
        {{ museumobject.category_illustrated }}</a>
      </dd>
    {% endif %}

    {% if museumobject.artefact_illustrated %}
      <dt>Artefact Illustrated</dt>
      <dd>
        <a href="{{ museumobject.artefact_illustrated.get_absolute_url }}">
        {{ museumobject.artefact_illustrated }}</a>
      </dd>
    {% endif %}

    {% if museumobject.manufacture_technique %}
      <dt>Manufacture technique</dt>
      <dd>{{ museumobject.manufacture_technique }}</dd>
    {% endif %}

    {% if museumobject.creation_date %}
      <dt>Creation date</dt>
      <dd>{{ museumobject.creation_date }}</dd>
    {% endif %}


    {% if museumobject.recorded_use %}
      <dt>Recorded use</dt>
      <dd>{{ museumobject.recorded_use }}</dd>
    {% endif %}

    {% if museumobject.collections.all %}
      <dt>Sub collections</dt>
      <dd>
        {% for collection in museumobject.collections.all %}
        <a href="{{ collection.get_absolute_url }}">{{ collection.title }}</a><br>
        {% endfor %}
      </dd>
    {% endif %}


    {% if museumobject.significance %}
      <dt>Statement of significance</dt>
      <dd>{{ museumobject.significance }}</dd>
    {% endif %}


    {% if museumobject.related_documents.all %}
      <dt>Related documents</dt>
      <dd>
        {% for doc in museumobject.related_documents.all %}
        <a href="{{doc.document.url}}">{{doc.name}}</a> <br>
        {% endfor %}
      </dd>
    {% endif %}


    {% if museumobject.photorecord_set %}
      <dt>Photographic Record</dt>
      <dd>
        {% for pr in museumobject.photorecord_set.all %}
        {{ pr.phototype }} {{ pr.comments}}<br>
        {% endfor %}
      </dd>
    {% endif %}


    {% if museumobject.reg_info %}
      <dt>Registration Information</dt>
      <dd>{{ museumobject.reg_info|linebreaks }}</dd>
    {% endif %}


    {% if museumobject.exhibition_history %}
      <dt>Exhibition History</dt>
      <dd>{{ museumobject.exhibition_history|linebreaks }}</dd>
    {% endif %}


    {% if museumobject.conditionreport_set.all %}
      <dt>Condition Reports</dt>
      <dd>
        {% for report in museumobject.conditionreport_set.all %}
        <a href="{% url admin:condition_conditionreport_change report.id %}">
            {{ report.date }} - {{ report.condition }}
        </a><br>
        {% endfor %}
      </dd>
    {% endif %}


    {% if museumobject.conservationaction_set.all %}
      <dt>Conservation Actions</dt>
      <dd>
        {% for action in museumobject.conservationaction_set.all %}
        <a href="{% url admin:condition_conservationaction_change action.id %}">
            {{ action }} </a><br>
        {% endfor %}
      </dd>
    {% endif %}


    {% if museumobject.deaccession_set.all %}
      <dt>Deacession</dt>
      <dd>
        {% for deaccession in museumobject.deaccession_set.all %}
        <a href="{% url admin:condition_deaccession_change deaccession.id %}">
            {{ deaccession }}</a><br>
        {% endfor %}
      </dd>
    {% endif %}

  </dl>
</div><!-- /staff-information -->
{% endif %} {# is_staff #}

<div class="secondary-item-info">
  <div class="physical-description">
    <h3>Description</h3>
    {{ museumobject.description|linebreaks }}
  </div>

  <div class="research-notes">
    <h3>Research notes</h3>
    {{ museumobject.comment|linebreaks }}
  </div>
</div>



{% endblock content %}


{% block javascript %}
{{block.super}}
<script type="text/javascript"
  src="{% if request.is_secure %}https://maps-api-ssl.google.com{% else %}http://maps.googleapis.com{% endif %}/maps/api/js?sensor=false"></script>
<script type="text/javascript">
    $(document).ready(function() {
        $('#item-representations').slides({
            generateNextPrev: true,
        });
    });
{% if museumobject.place.latitude %}
{% with p=museumobject.place %}
    var geocoder, map;
    $(document).ready(function initialize() {
        var myOptions = {
            zoom: 3, // Zoomed out to show location in country
            disableDefaultUI: true,
            mapTypeId: google.maps.MapTypeId.ROADMAP
        };

        var latlng = new google.maps.LatLng({{p.latitude}}, {{p.longitude}})

        myOptions.center = latlng;
        map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);
        var marker = new google.maps.Marker({
            map: map,
            position: latlng,
            title: "{{p.name}}, {{p.country}}",
            url: "{{p.get_absolute_url}}"
        });
        google.maps.event.addListener(marker, 'click', function() {
            window.location.href = marker.url;
        });
    });
{% endwith %}
{% endif %}
</script>
{% endblock %}
