{% extends "base_generic.html" %}

{% block content %}
<div style="float:right;font-size: 80%;">
    {% if user.is_staff %}
        <a href="{% url admin:cat_museumobject_change museumobject.id %}">Admin</a>
    {% endif %}
</div>
<h1>{{ museumobject.artefact_type }}</h1>

<div class="span-14">
<h2>{{ museumobject }}</h2>
    <b>Registration Number:</b> {{ museumobject.registration_number}}
<br>
<b>Functional Category:</b> {{ museumobject.functional_category }}
<br>
<b>Artefact Type:</b> {{ museumobject.artefact_type }}
<br>
<b>Acquisition Date:</b> {{ museumobject.acquisition_date }}
<br>
<b>Acquisition Method:</b> {{ museumobject.acquisition_method }}
<br>
<b>Cultural Bloc:</b> <a href="{{museumobject.cultural_bloc.get_absolute_url}}">{{ museumobject.cultural_bloc }}</a>
<br>
<b>Collector:</b> <a href="{{museumobject.collector.get_absolute_url}}">{{ museumobject.collector }}</a>
<br>
<b>Donor:</b> <a href="{{museumobject.donor.get_absolute_url}}">{{ museumobject.donor }}</a>
<br>
<b>Place:</b> <a href="{{museumobject.place.get_absolute_url}}">{{ museumobject.place }}</a>
<br>

{% if museumobject.maker_or_artist %}
    <b>Maker or artist: </b> {{ museumobject.maker_or_artist }}
    <br>
{% endif %}

{% if museumobject.assoc_cultural_group %}
    <b>Associated cultural group: </b> {{ museumobject.assoc_cultural_group }}
    <br>
{% endif %}

{% if museumobject.raw_material %}
    <b>Raw material: </b> {{ museumobject.raw_material }}
    <br>
{% endif %}

{% if museumobject.indigenous_name %}
    <b>Indigenous name: </b> {{ museumobject.indigenous_name }}
    <br>
{% endif %}

{% if museumobject.recorded_use %}
    <b>Recorded use: </b> {{ museumobject.recorded_use }}
    <br>
{% endif %}

{% if museumobject.collections.all %}
    <b>Collections: </b>
    {% for collection in museumobject.collections.all %}
    <a href="{{ collection.get_absolute_url }}">{{ collection.title }}</a>; 

    {% endfor %}

    <br>

{% endif %}
{% if museumobject.category.all %}
    <b>Categories: </b>
    {% for category in museumobject.category.all %}
    <a href="{{ category.get_absolute_url }}">{{ category.name }}</a>; 
    {% endfor %}
    <br>

{% endif %}

<b>Description:</b> {{ museumobject.description|linebreaks }}
<br>
<b>Comment:</b> {{ museumobject.comment|linebreaks }}
<br>


{% if museumobject.length %}
    <b>Length: </b> {{ museumobject.length }}mm
    <br>
{% endif %}
{% if museumobject.width %}
    <b>Width: </b> {{ museumobject.width }}mm
    <br>
{% endif %}
{% if museumobject.height %}
    <b>Height: </b> {{ museumobject.height }}mm
    <br>
{% endif %}

{% if museumobject.depth %}
    <b>Depth: </b> {{ museumobject.depth }}mm
    <br>
{% endif %}


{% if museumobject.related_documents.all %}
    <b>Related documents:</b><br>
    {% for doc in museumobject.related_documents.all %}
        <a href="{{doc.document.url}}">{{doc.name}}</a> <br>
    {% endfor %}
{% endif %}


{% if user.is_staff %}
{% if museumobject.conditionreport_set.all %}
    <b>Condition Reports</b><br>
    {% for report in museumobject.conditionreport_set.all %}
    <a href="{% url admin:condition_conditionreport_change report.id %}">
        {{ report.date }} - {{ report.condition }}
    </a><br>
    {% endfor %}
{% endif %}

{% if museumobject.conservationaction_set.all %}
    <b>Conservation Actions</b><br>
    {% for action in museumobject.conservationaction_set.all %}
    <a href="{% url admin:condition_conservationaction_change action.id %}">
        {{ action }} </a><br>
    {% endfor %}
{% endif %}

{% if museumobject.deaccession_set.all %}
    <b>Deacession</b><br>
    {% for deaccession in museumobject.deaccession_set.all %}
    <a href="{% url admin:condition_deaccession_change deaccession.id %}">
        {{ deaccession }}</a><br>
    {% endfor %}
{% endif %}

{% endif %}

</div>



<div class="span-10 last">
{% if museumobject.artefactrepresentation_set.exists %}
    <div class="slider-wrapper theme-default">
        <div class="ribbon"></div>
        <div id="slider" class="nivoSlider">
    {% for pic in museumobject.artefactrepresentation_set.all %}
    {% if pic.url %}
            <a href="{{ pic.url }}" >
    {% else %}
            <a href="{{ pic.image.url}}">
    {% endif %}
            <img src="{{ pic.image.url_400x350 }}" width="400px" height="350px" alt="">
            </a>
    {% endfor %}
        </div>
    </div>
{% endif %}
{% if museumobject.place.gn_id %}
    <hr>
    <div id="map_canvas" style="margin-top: 60px; width:400px; height:150px"></div>
{% endif %}
</div>



{% if museumobject.artefactrepresentation_set.exists %}
<script type="text/javascript">
$(window).load(function() {
    $('#slider').nivoSlider({
effect: 'fade',
manualAdvance: true,
animSpeed: 200,
directionNav: false
    });
});
</script>
{% endif %}

{% if museumobject.place.gn_id %}{% with p=museumobject.place %}
<script type="text/javascript"
    src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
<script type="text/javascript">
    var geocoder, map;
    $(document).ready(
    function initialize() {
        var myOptions = {
            zoom: 3, // Zoomed out to show location in country
            disableDefaultUI: true,
            mapTypeId: google.maps.MapTypeId.SATELLITE
        };

        var latlng = new google.maps.LatLng({{p.latitude}}, {{p.longitude}})

        myOptions.center = latlng;
        map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);
        var marker = new google.maps.Marker({
            map: map,
            position: latlng,
            title: "{{p.name}}, {{p.country}}",
            url: "{{p.get_absolute_url}}"
        });
        google.maps.event.addListener(marker, 'click', function() {
            window.location.href = marker.url;
        });
    });
</script>
{% endwith %}{% endif %}



<hr style="clear:both;">

{% endblock %}
