{% extends "base_generic.html" %}

{% load uqam %}
{% block content %}


{% if user.is_staff %}
<div style="float:right;font-size: 80%;">
    <a href="#" id="printLabelLink">Printable Label</a>
    <a href="{% url admin:cat_museumobject_change museumobject.id %}">Admin</a>
</div>
{% endif %}


<div class="row">
  <div class="span8">
<h1>{{ museumobject.artefact_type }}</h1>

<div class="tabbable tabs-below">
  <div class="tab-content">
    <div class="tab-pane active" id="public">
<dl>
<dt>Item Type</dt>
<dd> {{ museumobject.artefact_type }}</dd>

<dt>Category</dt>
<dd>
  {% for category in museumobject.category.all %}
  <a href="{{ category.get_absolute_url }}">{{ category }}</a><br>
  {% endfor %}
</dd>

<dt>Indigenous name</dt>
<dd>{{ museumobject.indigenous_name }}&nbsp;
</dd>

<dt>Maker</dt>
<dd>
{% if museumobject.maker %}
<a href="{{ museumobject.maker.get_absolute_url }}">
  {{ museumobject.maker }}</a>
{% endif %}&nbsp;
</dd>

<dt>Associated cultural group</dt>
<dd>
 {{ museumobject.assoc_cultural_group }}&nbsp;
</dd>

<dt>Region</dt>
<dd>
<a href="{{museumobject.cultural_bloc.get_absolute_url}}">
  {{ museumobject.cultural_bloc }}</a>
</dd>

<dt>Place</dt>
<dd>
<a href="{{museumobject.place.get_absolute_url}}">
  {{ museumobject.place }}</a>
</dd>

<dt>Collector</dt>
<dd>
<a href="{{museumobject.collector.get_absolute_url}}">
  {{ museumobject.collector }}</a>
</dd>

<dt>Acquisition Date</dt>
<dd>
  {{ museumobject.acquisition_date|date:"F d, Y" }}
</dd>

<dt>Acquisition Method</dt>
<dd>
{{ museumobject.acquisition_method }} <b>by</b>
 <a href="{{museumobject.donor.get_absolute_url}}">{{ museumobject.donor }}</a>
</dd>

<dt>Registration Number</dt>
<dd>{{ museumobject.registration_number}}</dd>

<dt>Dimensions</dt>
  <dd>
    <b>Height: </b> {{ museumobject.height|dimension:"mm" }}
    <b>Length: </b> {{ museumobject.length|dimension:"mm" }}
    <b>Width: </b> {{ museumobject.width|dimension:"mm" }}
    <b>Depth: </b> {{ museumobject.depth|dimension:"mm" }}
    <b>Circumference: </b> {{ museumobject.circumference|dimension:"mm" }}
  </dd>

</dl>

<dt>Physical description</dt>
<dd>{{ museumobject.description|linebreaks }} </dd>
<dt>Research notes (comment)</dt>
<dd>{{ museumobject.comment|linebreaks }}</dd>

    </div><!-- /tab-pane -->
    <div class="tab-pane" id="staff">

{% if user.is_staff %}
<b>Functional Category:</b> {{ museumobject.functional_category }}
{% endif %}
<br>


{% if museumobject.category_illustrated %}
<b>Category Illustrated: </b>
    <a href="{{ museumobject.category_illustrated.get_absolute_url }}">
    {{ museumobject.category_illustrated }}</a>
    <br>
{% endif %}

{% if museumobject.artefact_illustrated %}
<b>Artefact Illustrated: </b>
    <a href="{{ museumobject.artefact_illustrated.get_absolute_url }}">
    {{ museumobject.artefact_illustrated }}</a>
    <br>
{% endif %}

{% if museumobject.manufacture_technique %}
    <b>Manufacture technique: </b> {{ museumobject.manufacture_technique }}
    <br>
{% endif %}

{% if museumobject.creation_date %}
    <b>Creation date: </b> {{ museumobject.creation_date }}
    <br>
{% endif %}

{% if museumobject.raw_material %}
    <b>Raw material: </b> {{ museumobject.raw_material }}
    <br>
{% endif %}


{% if museumobject.recorded_use %}
    <b>Recorded use: </b> {{ museumobject.recorded_use }}
    <br>
{% endif %}

{% if museumobject.collections.all %}
    <b>Collections: </b>
    {% for collection in museumobject.collections.all %}
    <a href="{{ collection.get_absolute_url }}">{{ collection.title }}</a>; 

    {% endfor %}

    <br>

{% endif %}



{% if museumobject.significance %}
    <b>Statement of significance: </b> {{ museumobject.significance }}
    <br>
{% endif %}



{% if museumobject.related_documents.all %}
    <b>Related documents:</b><br>
    {% for doc in museumobject.related_documents.all %}
        <a href="{{doc.document.url}}">{{doc.name}}</a> <br>
    {% endfor %}
{% endif %}


{% if user.is_staff %}

{% if museumobject.photorecord_set %}
  <b>Photographic Record</b><br>
  {% for pr in museumobject.photorecord_set.all %}
    {{ pr.phototype }} {{ pr.comments}}<br>
  {% endfor %}
{% endif %}

{% if museumobject.reg_info %}
  <b>Registration Information:</b></br>
  <p>
    {{ museumobject.reg_info|linebreaks }}
  </p>
{% endif %}

{% if museumobject.exhibition_history %}
  <b>Exhibition History:</b></br>
  <p>
    {{ museumobject.exhibition_history|linebreaks }}
  </p>
{% endif %}

{% if museumobject.conditionreport_set.all %}
    <b>Condition Reports</b><br>
    {% for report in museumobject.conditionreport_set.all %}
    <a href="{% url admin:condition_conditionreport_change report.id %}">
        {{ report.date }} - {{ report.condition }}
    </a><br>
    {% endfor %}
{% endif %}

{% if museumobject.conservationaction_set.all %}
    <b>Conservation Actions</b><br>
    {% for action in museumobject.conservationaction_set.all %}
    <a href="{% url admin:condition_conservationaction_change action.id %}">
        {{ action }} </a><br>
    {% endfor %}
{% endif %}

{% if museumobject.deaccession_set.all %}
    <b>Deacession</b><br>
    {% for deaccession in museumobject.deaccession_set.all %}
    <a href="{% url admin:condition_deaccession_change deaccession.id %}">
        {{ deaccession }}</a><br>
    {% endfor %}
{% endif %}

{% endif %}

    </div><!-- /tab-pane -->
  </div><!-- /tab-content -->
  <ul class="nav nav-tabs">
    <li class="active">
      <a href="#public" data-toggle="tab">Public</a></li>
    <li>
      <a href="#staff" data-toggle="tab">Staff</a></li>
  </ul>
</div><!-- /tabbable -->

</div><!-- /span8 -->


<div class="span4">
{% if museumobject.artefactrepresentation_set.exists %}
  <div id="myCarousel" class="carousel">
    <div class="carousel-inner">
  {% for pic in museumobject.artefactrepresentation_set.all %}
    <div class="item{% if forloop.first%}active{%endif%}">
    {% if pic.url %}
      <a href="{{ pic.url }}" >
    {% else %}
      <a href="{{ pic.image.url}}">
    {% endif %}
    <img src="{{ pic.image.url_400x350 }}" width="400" height="350" alt=""></a>
    </div>
  {% endfor %}
    </div><!-- /carousel-inner -->
    <!-- Carousel nav -->
    <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
    <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
  </div><!-- /carousel -->
{% endif %}
{% if museumobject.place.latitude %}
    <hr>
    <div id="map_canvas" style="margin-top: 60px; width:400px; height:150px"></div>
{% endif %}
</div><!-- /span4 -->

</div><!-- /row -->







{% if user.is_staff %}
<style type="text/css">
    #printableLabel {
        background-color: white;
        display:none;
        padding: 15px;
    }
</style>

<div id="printableLabel">
  <b>Printable label</b>
  <pre id="printLabelText">
  {% firstof museumobject.maker "Maker unknown" %}, {% firstof museumobject.creation_date|date:"Y" "creation date unknown" %}
  {{ museumobject.artefact_type }}{% if museumobject.raw_material or museumobject.dimensions %}
  {{ museumobject.dimensions }}{% if museumobject.raw_material %}, {{ museumobject.raw_material }}{%endif%}{% endif %}
  {% firstof museumobject.assoc_cultural_group museumobject.place.country %}
  Donated by {{ museumobject.donor }}{% if museumobject.acquisition_date %} {{ museumobject.acquisition_date|date:"Y" }}{% endif %}
  </pre>
</div><!-- /printableLable -->

{% endif %}
{% endblock %}


{% block javascript %}
<script type="text/javascript" src="/static/jquery.bpopup-0.6.0.min.js"></script>
<script type="text/javascript">
    $(document).ready(function() {
        $("#printLabelLink").bind("click", function() {
            $("#printableLabel").bPopup();
            return false;
        });
    });
</script>

{% if museumobject.artefactrepresentation_set.exists %}
<script type="text/javascript">
$(window).load(function() {
    $('#slider').nivoSlider({
effect: 'fade',
manualAdvance: true,
animSpeed: 200,
directionNav: false
    });
});
</script>
{% endif %}

{% if museumobject.place.latitude %}{% with p=museumobject.place %}
<script type="text/javascript"
    src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
<script type="text/javascript">
    var geocoder, map;
    $(document).ready(
    function initialize() {
        var myOptions = {
            zoom: 3, // Zoomed out to show location in country
            disableDefaultUI: true,
            mapTypeId: google.maps.MapTypeId.SATELLITE
        };

        var latlng = new google.maps.LatLng({{p.latitude}}, {{p.longitude}})

        myOptions.center = latlng;
        map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);
        var marker = new google.maps.Marker({
            map: map,
            position: latlng,
            title: "{{p.name}}, {{p.country}}",
            url: "{{p.get_absolute_url}}"
        });
        google.maps.event.addListener(marker, 'click', function() {
            window.location.href = marker.url;
        });
    });
</script>
{% endwith %}{% endif %}
{% endblock %}
