{% extends "base_generic.html" %}

{% block content %}
<h1>{{ page_title }}</h1>

{% for letter, some_exist in first_letters %}
{% if some_exist %}
    <a href="{{base_url}}{{ letter }}/">{{letter}}</a>
{% else %}
    {{letter}}
{% endif %}
{% endfor %}

{% if object_list %}
<table>
{% for object in object_list %}
    <tr><td>
        <a href="{{ object.get_absolute_url }}">{{object}}</a>
    </td><td>
        {{ object.num_objects }}
    </td></tr>
{% endfor %}
</table>

{% endif %}

{% endblock %}
