{% extends "base_generic.html" %}

{% block content %}
<h1>{{ place.name }}</h1>

<p><b>Country:</b> {{ place.country }}</p>
<p><b>Region:</b> {{ place.region }}</p>
{% if place.australian_state %}
<p><b>Australian State:</b> {{ place.australian_state }}</p>
{% endif %}
{% if place.gn_id %}
<p><b>GeoNames:</b> <a href="{{place.get_geonames_url}}">{{place.gn_name}}</a></p>
{% endif %}
<p><a href="{% url admin:cat_place_change place.id %}">Admin</a></p>

<div class="span-12">
<h2>Objects</h2>
{% for mo in place.museumobject_set.all %}

<a href="{{mo.get_absolute_url}}">{{mo.registration_number}} {{mo.artefact_type}}</a>
<br>
{% endfor %}
</div>

<div class="span-12 last">
<h2>Map</h2>
<script type="text/javascript"
    src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
<script type="text/javascript">
    var geocoder, map;
    $(document).ready(
    function initialize() {
        var myOptions = {
            zoom: 4, // Zoomed out to show location in country
            disableDefaultUI: true,
            mapTypeId: google.maps.MapTypeId.SATELLITE
        };

        {% if place.gn_id %}
            var latlng = new google.maps.LatLng({{place.latitude}}, {{place.longitude}})
            myOptions.center = latlng;
            map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);
            var marker = new google.maps.Marker({
                map: map,
                position: latlng,
                title: "{{place.name}}, {{place.country}}"
            });
        {% else %}
            $('#map_canvas').html("Unknown location.");
        {% endif %}
    });
</script>

<div id="map_canvas" style="width:450px; height:300px"></div>

</div>


{% endblock %}
